force-app/main/default/flows/Agreement_PB003_ForeignGrid.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[{&quot;name&quot;:&quot;Giorgio VENTURA&quot;,&quot;id&quot;:&quot;00558000002Ftm9AAC&quot;},{&quot;name&quot;:&quot;Silvia MANZ&quot;,&quot;id&quot;:&quot;00558000002FtpXAAS&quot;},{&quot;name&quot;:&quot;Investor Services&quot;,&quot;id&quot;:&quot;0F91i000000PMpRCAW&quot;}],&quot;message&quot;:&quot;Dear @[00558000002Ftm9AAC] , @[00558000002FtpXAAS] \n\nAlthough for the agreement {![Convention__c].Name} the Sales Region is {![Convention__c].Company_Country__c}  we have still applied the Grid  {![Convention__c].Grid__r.Name}  as based on the agreement terms.\n\nRegards\n@[0F91i000000PMpRCAW] &quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Inform Global Head of Sales</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Dear @[00558000002Ftm9AAC] , @[00558000002FtpXAAS] 

Although for the agreement {!myVariable_current.Name} the Sales Region is {!myVariable_current.Company_Country__c}  we have still applied the Grid  {!myVariable_current.Grid__r.Name}  as based on the agreement terms.

Regards
@[0F91i000000PMpRCAW] </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[{&quot;name&quot;:&quot;Giorgio VENTURA&quot;,&quot;id&quot;:&quot;00558000002Ftm9AAC&quot;},{&quot;name&quot;:&quot;Silvia MANZ&quot;,&quot;id&quot;:&quot;00558000002FtpXAAS&quot;},{&quot;name&quot;:&quot;Investor Services&quot;,&quot;id&quot;:&quot;0F91i000000PMpRCAW&quot;}],&quot;message&quot;:&quot;Dear @[00558000002Ftm9AAC] , @[00558000002FtpXAAS] \n\nAlthough for the agreement {![Convention__c].Name} the Sales Region is {![Convention__c].Company_Country__c}  we have agreed to applied the requested Grid  {![Convention__c].Grid_Request__r.Name} as based on the agreement terms.\n\nRegards\n@[0F91i000000PMpRCAW] &quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Post to Silvia and Giorgio Amendment</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Dear @[00558000002Ftm9AAC] , @[00558000002FtpXAAS] 

Although for the agreement {!myVariable_current.Name} the Sales Region is {!myVariable_current.Company_Country__c}  we have agreed to applied the requested Grid  {!myVariable_current.Grid_Request__r.Name} as based on the agreement terms.

Regards
@[0F91i000000PMpRCAW] </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Initial Approval Process</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Amendment Approval Process</label>
        </rules>
    </decisions>
    <description>Post chatter when grid is different the RCP Region</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

AND(
NOT( ISBLANK( [Convention__c].MasterConvention__c  ) ),
OR(
[Convention__c].MasterConvention__c.Name = &apos;L239&apos; ,
[Convention__c].MasterConvention__c.Name = &apos;L503&apos;,
[Convention__c].MasterConvention__c.Name=&apos;471&apos;,
[Convention__c].MasterConvention__c.Name=&apos;900&apos;
)
),

AND(
NOT( ISBLANK( [Convention__c].Grid__c ) ),
NOT(
CONTAINS( UPPER([Convention__c].Grid__c.Name),UPPER([Convention__c].Company_Country__c ) )
)
),

ISCHANGED([Convention__c].Approval_Status__c),
[Convention__c].RecordType.Name = &apos;Intermediary Agreement Request Full&apos;,
$Profile.Name  = &apos;Carmignac - Investor Services&apos;,
!$User.BypassProcessBuilders__c

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(

AND(
NOT( ISBLANK( {!myVariable_current.MasterConvention__c}  ) ),
OR(
{!myVariable_current.MasterConvention__r.Name} = &apos;L239&apos; ,
{!myVariable_current.MasterConvention__r.Name} = &apos;L503&apos;,
{!myVariable_current.MasterConvention__r.Name}=&apos;471&apos;,
{!myVariable_current.MasterConvention__r.Name}=&apos;900&apos;
)
),

AND(
NOT( ISBLANK( {!myVariable_current.Grid__c} ) ),
NOT(
CONTAINS( UPPER({!myVariable_current.Grid__r.Name}),UPPER({!myVariable_current.Company_Country__c} ) )
)
),

ISCHANGED({!myVariable_current.Approval_Status__c}),
{!myVariable_current.RecordType.Name} = &apos;Intermediary Agreement Request Full&apos;,
{!$Profile.Name}  = &apos;Carmignac - Investor Services&apos;,
!{!$User.BypassProcessBuilders__c}

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

AND(
NOT( ISBLANK( [Convention__c].MasterConvention__c  ) ),
OR(
[Convention__c].MasterConvention__c.Name = &apos;L239&apos; ,
[Convention__c].MasterConvention__c.Name = &apos;L503&apos;,
[Convention__c].MasterConvention__c.Name=&apos;471&apos;,
[Convention__c].MasterConvention__c.Name=&apos;900&apos;
)
),

AND(
NOT( ISBLANK( [Convention__c].Grid__c ) ),
NOT(
CONTAINS( UPPER([Convention__c].Grid__c.Name),UPPER([Convention__c].Company_Country__c ) )
)
),

NOT(ISNULL([Convention__c].Grid_Request_Start_Date__c)),
ISCHANGED([Convention__c].Amendment_Approval_Status__c ),
[Convention__c].RecordType.Name = &apos;Intermediary Agreement&apos;,
$Profile.Name  = &apos;Carmignac - Investor Services&apos;,
!$User.BypassProcessBuilders__c

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(

AND(
NOT( ISBLANK( {!myVariable_current.MasterConvention__c}  ) ),
OR(
{!myVariable_current.MasterConvention__r.Name} = &apos;L239&apos; ,
{!myVariable_current.MasterConvention__r.Name} = &apos;L503&apos;,
{!myVariable_current.MasterConvention__r.Name}=&apos;471&apos;,
{!myVariable_current.MasterConvention__r.Name}=&apos;900&apos;
)
),

AND(
NOT( ISBLANK( {!myVariable_current.Grid__c} ) ),
NOT(
CONTAINS( UPPER({!myVariable_current.Grid__r.Name}),UPPER({!myVariable_current.Company_Country__c} ) )
)
),

NOT(ISNULL({!myVariable_current.Grid_Request_Start_Date__c})),
ISCHANGED({!myVariable_current.Amendment_Approval_Status__c} ),
{!myVariable_current.RecordType.Name} = &apos;Intermediary Agreement&apos;,
{!$Profile.Name}  = &apos;Carmignac - Investor Services&apos;,
!{!$User.BypassProcessBuilders__c}

)</expression>
    </formulas>
    <interviewLabel>Agreement_PB003_ForeignGrid-4_InterviewLabel</interviewLabel>
    <label>Agreement_PB003_ForeignGrid</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Convention__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Convention__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Convention__c</objectType>
    </variables>
</Flow>
