force-app/main/default/flows/Agreement_PB006_Notification_By_Country_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BENELUX_and_Nordics_15_days_Before</name>
        <label>BENELUX and Nordics 15 days Before</label>
        <locationX>4802</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementFutureExpiration_BP_BENELUX_Nordics</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementFutureExpiration_BP_BENELUX_Nordics</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>BENELUX_and_Nordics_30_days_Before</name>
        <label>BENELUX and Nordics 30 days Before</label>
        <locationX>2426</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementFutureExpiration_BP_BENELUX_Nordics</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementFutureExpiration_BP_BENELUX_Nordics</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>BENELUX_and_Nordics_60_days_Before</name>
        <label>BENELUX and Nordics 60 days Before</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementFutureExpiration_BP_BENELUX_Nordics</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementFutureExpiration_BP_BENELUX_Nordics</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>BENELUX_Nordics_1_Hour_After</name>
        <label>BENELUX &amp; Nordics 1 Hour After</label>
        <locationX>7178</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementExpiration_BP_BENELUX_Nordics</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementExpiration_BP_BENELUX_Nordics</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>BENELUX_Nordics_6_Months_Later</name>
        <label>BENELUX &amp; Nordics 6 Months Later</label>
        <locationX>9554</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementExpired6Months_BP_BENELUX_Nordics</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementExpired6Months_BP_BENELUX_Nordics</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>France_15_Days_Before</name>
        <label>France 15 Days Before</label>
        <locationX>5858</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementFutureExpiration_BP_FR</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementFutureExpiration_BP_FR</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>France_1_Hour_After</name>
        <label>France 1 Hour After</label>
        <locationX>8234</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementExpiration_BP_FR</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementExpiration_BP_FR</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>France_30_Days_Before</name>
        <label>France 30 Days Before</label>
        <locationX>3482</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementFutureExpiration_BP_FR</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementFutureExpiration_BP_FR</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>France_60_Days_Before</name>
        <label>France 60 Days Before</label>
        <locationX>1106</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementFutureExpiration_BP_FR</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementFutureExpiration_BP_FR</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>France_6_Months_Later</name>
        <label>France 6 Months Later</label>
        <locationX>10610</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementExpired6Months_BP_FR</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementExpired6Months_BP_FR</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Germany_15_Days_before</name>
        <label>Germany 15 Days before</label>
        <locationX>5330</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementFutureExpiration_BP_DA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementFutureExpiration_BP_DA</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Germany_1_Hour_After</name>
        <label>Germany 1 Hour After</label>
        <locationX>7706</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementExpiration_BP_DA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementExpiration_BP_DA</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Germany_30_Days_before</name>
        <label>Germany 30 Days before</label>
        <locationX>2954</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementFutureExpiration_BP_DA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementFutureExpiration_BP_DA</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Germany_60_Days_before</name>
        <label>Germany 60 Days before</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementFutureExpiration_BP_DA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementFutureExpiration_BP_DA</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Germany_6_Months_Later</name>
        <label>Germany 6 Months Later</label>
        <locationX>10082</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementExpired6Months_BP_DA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementExpired6Months_BP_DA</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>International_15_Days_Before</name>
        <label>International 15 Days Before</label>
        <locationX>6122</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementFutureExpiration_BP_IN</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementFutureExpiration_BP_IN</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>International_1_Hour_Later</name>
        <label>International 1 Hour Later</label>
        <locationX>8498</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementExpiration_BP_IN</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementExpiration_BP_IN</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>International_30_Days_Before</name>
        <label>International 30 Days Before</label>
        <locationX>3746</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementFutureExpiration_BP_IN</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementFutureExpiration_BP_IN</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>International_60_Days_Before</name>
        <label>International 60 Days Before</label>
        <locationX>1370</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementFutureExpiration_BP_IN</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementFutureExpiration_BP_IN</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>International_6_Months_LAter</name>
        <label>International 6 Months LAter</label>
        <locationX>10874</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementExpired6Months_BP_IN</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementExpired6Months_BP_IN</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Italy_15_Days_Before</name>
        <label>Italy 15 Days Before</label>
        <locationX>6386</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementFutureExpiration_BP_IT</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementFutureExpiration_BP_IT</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Italy_1_Hour_Later</name>
        <label>Italy 1 Hour Later</label>
        <locationX>8762</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementExpiration_BP_IT</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementExpiration_BP_IT</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Italy_30_Days_Before</name>
        <label>Italy 30 Days Before</label>
        <locationX>4010</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementFutureExpiration_BP_IT</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementFutureExpiration_BP_IT</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Italy_60_Days_Before</name>
        <label>Italy 60 Days Before</label>
        <locationX>1634</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementFutureExpiration_BP_IT</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementFutureExpiration_BP_IT</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Italy_6_Months_Later</name>
        <label>Italy 6 Months Later</label>
        <locationX>11138</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementExpired6Months_BP_IT</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementExpired6Months_BP_IT</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Spain_15_Days_Before</name>
        <label>Spain 15 Days Before</label>
        <locationX>5594</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementFutureExpiration_BP_ES</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementFutureExpiration_BP_ES</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Spain_1_Hour_After</name>
        <label>Spain 1 Hour After</label>
        <locationX>7970</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementExpiration_BP_ES</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementExpiration_BP_ES</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Spain_30_Days_Before</name>
        <label>Spain 30 Days Before</label>
        <locationX>3218</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementFutureExpiration_BP_ES</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementFutureExpiration_BP_ES</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Spain_60_Days_Before</name>
        <label>Spain 60 Days Before</label>
        <locationX>842</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementFutureExpiration_BP_ES</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementFutureExpiration_BP_ES</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Spain_6_Months_Later</name>
        <label>Spain 6 Months Later</label>
        <locationX>10346</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementExpired6Months_BP_ES</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementExpired6Months_BP_ES</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Switzerland_15_Days_Before</name>
        <label>Switzerland 15 Days Before</label>
        <locationX>5066</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementFutureExpiration_BP_CH</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementFutureExpiration_BP_CH</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Switzerland_1_Hour_After</name>
        <label>Switzerland 1 Hour After</label>
        <locationX>7442</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementExpiration_BP_CH</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementExpiration_BP_CH</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Switzerland_30_Days_Before</name>
        <label>Switzerland 30 Days Before</label>
        <locationX>2690</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementFutureExpiration_BP_CH</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementFutureExpiration_BP_CH</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Switzerland_6_Months_Later</name>
        <label>Switzerland 6 Months Later</label>
        <locationX>9818</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementExpired6Months_BP_CH</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementExpired6Months_BP_CH</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Switzerland_6O_Days_Before</name>
        <label>Switzerland 6O Days Before</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementFutureExpiration_BP_CH</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementFutureExpiration_BP_CH</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>UK_15_Days_Before</name>
        <label>UK 15 Days Before</label>
        <locationX>6650</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementFutureExpiration_BP_UK</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementFutureExpiration_BP_UK</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>UK_1_Hour_Later</name>
        <label>UK 1 Hour Later</label>
        <locationX>9026</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementExpiration_BP_UK</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementExpiration_BP_UK</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>UK_30_Days_Before</name>
        <label>UK 30 Days Before</label>
        <locationX>4274</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementFutureExpiration_BP_UK</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementFutureExpiration_BP_UK</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>UK_60_Days_Before</name>
        <label>UK 60 Days Before</label>
        <locationX>1898</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementFutureExpiration_BP_UK</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementFutureExpiration_BP_UK</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>UK_6_Moths_Later</name>
        <label>UK 6 Moths Later</label>
        <locationX>11402</locationX>
        <locationY>384</locationY>
        <actionName>Convention__c.AgreementExpired6Months_BP_UK</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Convention__c.AgreementExpired6Months_BP_UK</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Agreement_Business_Region</name>
        <label>Agreement Business Region</label>
        <locationX>1106</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BENELUXNordics</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_BE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_NL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_LU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_NO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>x60DaysBefore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BENELUX_and_Nordics_60_days_Before</targetReference>
            </connector>
            <label>BENELUX &amp; Nordics</label>
        </rules>
        <rules>
            <name>Switzerland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_CH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x60DaysBefore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Switzerland_6O_Days_Before</targetReference>
            </connector>
            <label>Switzerland</label>
        </rules>
        <rules>
            <name>Germany</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_DA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x60DaysBefore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Germany_60_Days_before</targetReference>
            </connector>
            <label>Germany</label>
        </rules>
        <rules>
            <name>Spain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_ES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x60DaysBefore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Spain_60_Days_Before</targetReference>
            </connector>
            <label>Spain</label>
        </rules>
        <rules>
            <name>France</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_FR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x60DaysBefore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>France_60_Days_Before</targetReference>
            </connector>
            <label>France</label>
        </rules>
        <rules>
            <name>International</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_IN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x60DaysBefore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>International_60_Days_Before</targetReference>
            </connector>
            <label>International</label>
        </rules>
        <rules>
            <name>Italy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_IT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x60DaysBefore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Italy_60_Days_Before</targetReference>
            </connector>
            <label>Italy</label>
        </rules>
        <rules>
            <name>UK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_UK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x60DaysBefore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UK_60_Days_Before</targetReference>
            </connector>
            <label>UK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Agreement_Business_Region</name>
        <label>Agreement Business Region</label>
        <locationX>3482</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_BENELUX_Nordics</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_BE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_NL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_LU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_NO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x30DaysBefore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BENELUX_and_Nordics_30_days_Before</targetReference>
            </connector>
            <label>BENELUX &amp; Nordics</label>
        </rules>
        <rules>
            <name>Copy_1_of_Switzerland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_CH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x30DaysBefore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Switzerland_30_Days_Before</targetReference>
            </connector>
            <label>Switzerland</label>
        </rules>
        <rules>
            <name>Copy_1_of_Germany</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_DA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x30DaysBefore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Germany_30_Days_before</targetReference>
            </connector>
            <label>Germany</label>
        </rules>
        <rules>
            <name>Copy_1_of_Spain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_ES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x30DaysBefore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Spain_30_Days_Before</targetReference>
            </connector>
            <label>Spain</label>
        </rules>
        <rules>
            <name>Copy_1_of_France</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_FR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x30DaysBefore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>France_30_Days_Before</targetReference>
            </connector>
            <label>France</label>
        </rules>
        <rules>
            <name>Copy_1_of_International</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_IN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x30DaysBefore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>International_30_Days_Before</targetReference>
            </connector>
            <label>International</label>
        </rules>
        <rules>
            <name>Copy_1_of_Italy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_IT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x30DaysBefore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Italy_30_Days_Before</targetReference>
            </connector>
            <label>Italy</label>
        </rules>
        <rules>
            <name>Copy_1_of_UK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_UK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x30DaysBefore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UK_30_Days_Before</targetReference>
            </connector>
            <label>UK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Agreement_Business_Region</name>
        <label>Agreement Business Region</label>
        <locationX>5858</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_BENELUX_Nordics</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_BE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_NL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_LU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_NO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x15DaysBefore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BENELUX_and_Nordics_15_days_Before</targetReference>
            </connector>
            <label>BENELUX &amp; Nordics</label>
        </rules>
        <rules>
            <name>Copy_2_of_Switzerland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_CH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x15DaysBefore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Switzerland_15_Days_Before</targetReference>
            </connector>
            <label>Switzerland</label>
        </rules>
        <rules>
            <name>Copy_2_of_Germany</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_DA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x15DaysBefore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Germany_15_Days_before</targetReference>
            </connector>
            <label>Germany</label>
        </rules>
        <rules>
            <name>Copy_2_of_Spain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_ES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x15DaysBefore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Spain_15_Days_Before</targetReference>
            </connector>
            <label>Spain</label>
        </rules>
        <rules>
            <name>Copy_2_of_France</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_FR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x15DaysBefore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>France_15_Days_Before</targetReference>
            </connector>
            <label>France</label>
        </rules>
        <rules>
            <name>Copy_2_of_International</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_IN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x15DaysBefore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>International_15_Days_Before</targetReference>
            </connector>
            <label>International</label>
        </rules>
        <rules>
            <name>Copy_2_of_Italy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_IT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x15DaysBefore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Italy_15_Days_Before</targetReference>
            </connector>
            <label>Italy</label>
        </rules>
        <rules>
            <name>Copy_2_of_UK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_UK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x15DaysBefore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UK_15_Days_Before</targetReference>
            </connector>
            <label>UK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_Agreement_Business_Region</name>
        <label>Agreement Business Region</label>
        <locationX>8234</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_BENELUX_Nordics</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_BE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_NL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_LU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_NO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TODAY</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BENELUX_Nordics_1_Hour_After</targetReference>
            </connector>
            <label>BENELUX &amp; Nordics</label>
        </rules>
        <rules>
            <name>Copy_3_of_Switzerland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_CH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TODAY</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Switzerland_1_Hour_After</targetReference>
            </connector>
            <label>Switzerland</label>
        </rules>
        <rules>
            <name>Copy_3_of_Germany</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_DA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TODAY</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Germany_1_Hour_After</targetReference>
            </connector>
            <label>Germany</label>
        </rules>
        <rules>
            <name>Copy_3_of_Spain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_ES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TODAY</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Spain_1_Hour_After</targetReference>
            </connector>
            <label>Spain</label>
        </rules>
        <rules>
            <name>Copy_3_of_France</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_FR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TODAY</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>France_1_Hour_After</targetReference>
            </connector>
            <label>France</label>
        </rules>
        <rules>
            <name>Copy_3_of_International</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_IN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TODAY</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>International_1_Hour_Later</targetReference>
            </connector>
            <label>International</label>
        </rules>
        <rules>
            <name>Copy_3_of_Italy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_IT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TODAY</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Italy_1_Hour_Later</targetReference>
            </connector>
            <label>Italy</label>
        </rules>
        <rules>
            <name>Copy_3_of_UK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_UK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TODAY</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UK_1_Hour_Later</targetReference>
            </connector>
            <label>UK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_4_of_Agreement_Business_Region</name>
        <label>Agreement Business Region</label>
        <locationX>10610</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_BENELUX_Nordics</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_BE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_NL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_LU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_NO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x180DaysAfter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BENELUX_Nordics_6_Months_Later</targetReference>
            </connector>
            <label>BENELUX &amp; Nordics</label>
        </rules>
        <rules>
            <name>Copy_4_of_Switzerland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_CH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x180DaysAfter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Switzerland_6_Months_Later</targetReference>
            </connector>
            <label>Switzerland</label>
        </rules>
        <rules>
            <name>Copy_4_of_Germany</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_DA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x180DaysAfter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Germany_6_Months_Later</targetReference>
            </connector>
            <label>Germany</label>
        </rules>
        <rules>
            <name>Copy_4_of_Spain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_ES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x180DaysAfter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Spain_6_Months_Later</targetReference>
            </connector>
            <label>Spain</label>
        </rules>
        <rules>
            <name>Copy_4_of_France</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_FR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x180DaysAfter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>France_6_Months_Later</targetReference>
            </connector>
            <label>France</label>
        </rules>
        <rules>
            <name>Copy_4_of_International</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_IN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x180DaysAfter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>International_6_Months_LAter</targetReference>
            </connector>
            <label>International</label>
        </rules>
        <rules>
            <name>Copy_4_of_Italy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_IT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x180DaysAfter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Italy_6_Months_Later</targetReference>
            </connector>
            <label>Italy</label>
        </rules>
        <rules>
            <name>Copy_4_of_UK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP_UK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpirationDate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x180DaysAfter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UK_6_Moths_Later</targetReference>
            </connector>
            <label>UK</label>
        </rules>
    </decisions>
    <description>Migrated from the Agreement_PB006_Notification_By_Country process using Grid End Date BP_BE criteria.
Process builder to send agreement notification by business region and to DCO and Legal</description>
    <environments>Default</environments>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>x15DaysBefore</name>
        <dataType>Date</dataType>
        <expression>TODAY()-15</expression>
    </formulas>
    <formulas>
        <name>x180DaysAfter</name>
        <dataType>Date</dataType>
        <expression>TODAY()+180</expression>
    </formulas>
    <formulas>
        <name>x30DaysBefore</name>
        <dataType>Date</dataType>
        <expression>{!TODAY}-30</expression>
    </formulas>
    <formulas>
        <name>x60DaysBefore</name>
        <dataType>Date</dataType>
        <expression>TODAY()-60</expression>
    </formulas>
    <label>Agreement_PB006_Notification_By_Country_1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>5072</locationX>
        <locationY>0</locationY>
        <filterFormula>OR (ISCHANGED({!$Record.ExpirationDate__c}),
AND(
ISNEW(), 
NOT(ISBLANK({!$Record.ExpirationDate__c}))
))</filterFormula>
        <object>Convention__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X60_Days_Before</name>
            <connector>
                <targetReference>Agreement_Business_Region</targetReference>
            </connector>
            <label>60 Days Before</label>
            <offsetNumber>-60</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>ExpirationDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X30_Days_Before</name>
            <connector>
                <targetReference>Copy_1_of_Agreement_Business_Region</targetReference>
            </connector>
            <label>30 Days Before</label>
            <offsetNumber>-30</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>ExpirationDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X15_Days_Before</name>
            <connector>
                <targetReference>Copy_2_of_Agreement_Business_Region</targetReference>
            </connector>
            <label>15 Days Before</label>
            <offsetNumber>-15</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>ExpirationDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X1_Hour_After</name>
            <connector>
                <targetReference>Copy_3_of_Agreement_Business_Region</targetReference>
            </connector>
            <label>1 Hour After</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>ExpirationDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X180_Days_After</name>
            <connector>
                <targetReference>Copy_4_of_Agreement_Business_Region</targetReference>
            </connector>
            <label>180 Days After</label>
            <offsetNumber>180</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>ExpirationDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
