force-app/main/default/flows/Backup_Oktopost_data_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>CampaingIdOrName</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Campaign__c} != &apos;&apos; , {!$Record.Campaign__c}, {!$Record.Campaign_Name__c})</expression>
    </formulas>
    <formulas>
        <name>PosterCarmignacifEmpty</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Poster_Name__c}), &apos;Carmignac&apos;, {!$Record.Poster_Name__c})</expression>
    </formulas>
    <interviewLabel>Backup Oktopost data Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Backup Oktopost data Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_DI</name>
        <label>Create DI</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Create_DID</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>$Record.Activity_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_lu__c</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Interaction__c</field>
            <value>
                <elementReference>$Record.Activity_DateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement_Type__c</field>
            <value>
                <elementReference>$Record.Network__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_lu__c</field>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Oktopost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Campaign__c</field>
            <value>
                <elementReference>CampaingIdOrName</elementReference>
            </value>
        </inputAssignments>
        <object>Digital_Interaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_DID</name>
        <label>Create DID</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Activity_Text__c</field>
            <value>
                <elementReference>$Record.Activity_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment_Keywords__c</field>
            <value>
                <elementReference>$Record.Comment_Keywords__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Details_Date__c</field>
            <value>
                <elementReference>$Record.Activity_DateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Digital_Interaction__c</field>
            <value>
                <elementReference>Create_DI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message_Key_word__c</field>
            <value>
                <elementReference>$Record.Message_Keywords__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_date_Time__c</field>
            <value>
                <elementReference>$Record.Post_DateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Poster_name__c</field>
            <value>
                <elementReference>PosterCarmignacifEmpty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remote_URL__c</field>
            <value>
                <elementReference>$Record.Remote_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sentiment__c</field>
            <value>
                <elementReference>$Record.Sentiment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tag__c</field>
            <value>
                <elementReference>$Record.Campaign_Tags__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Activity_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Digital_Interaction_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_DI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Backup__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Backup__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Oktopost_Social_Activity__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
