force-app/main/default/flows/CampaignMember_OptOutValidation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Check_Newsletter_OptOut</name>
        <label>Check Newsletter Opt Out</label>
        <locationX>314</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Allowed</defaultConnectorLabel>
        <rules>
            <name>BlockCondition</name>
            <conditionLogic>(1 AND (2 OR 3) AND ((4 AND 5) OR (6 AND 7))) OR (8 AND ((4 AND 5) OR (6 AND 7))) OR (1 AND 9 AND 10 AND ((4 AND 11) OR (6 AND 12)))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Newsletters</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post-Meeting / Info</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post-Meeting / Replay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.Invitation_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Event_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Event_and_Meeting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Post-meeting / Info</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Post-meeting / Replay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.Newsletter_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Prospect_Opt_out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Block_Newsletter_Member</targetReference>
            </connector>
            <label>BlockCondition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Or_Contact</name>
        <label>Lead Or Contact</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IS_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>IS Contact</label>
        </rules>
        <rules>
            <name>Is_lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead</targetReference>
            </connector>
            <label>Is lead</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CampaignMember Opt-Out Validation 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CampaignMember Opt-Out Validation 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Newsletter_OptOut</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Newsletter_OptOut</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LeadId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lead_Or_Contact</targetReference>
        </connector>
        <object>CampaignMember</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
