force-app/main/default/flows/Campaign_PB001_Createtasktargetconfirmed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>postTarget</name>
            <value>
                <stringValue>Marketing Team</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;A new newsletter request was made with the following information,\n- Newsletter name : {![Campaign].Name}\n- Expected date : {![Campaign].Start_Date_Time__c}\n- Link : {![Campaign].Link__c}\n\nHave a nice day !&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Post to chatter MKG</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>A new newsletter request was made with the following information,
- Newsletter name : {!myVariable_current.Name}
- Expected date : {!myVariable_current.Start_Date_Time__c}
- Link : {!myVariable_current.Link__c}

Have a nice day !</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>GROUP</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>0F9580000005rSICAY</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>postTarget</name>
            <value>
                <stringValue>Josipa FINK</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>postTargetUserType</name>
            <value>
                <stringValue>USER</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;A new newsletter request was made with the following information,\n- Newsletter name : {![Campaign].Name}\n- Expected date : {![Campaign].Start_Date_Time__c}\n- Link : {![Campaign].Link__c}\n\nHave a nice day !&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Send to Josipa</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_1_A3</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>A new newsletter request was made with the following information,
- Newsletter name : {!myVariable_current.Name}
- Expected date : {!myVariable_current.Start_Date_Time__c}
- Link : {!myVariable_current.Link__c}

Have a nice day !</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>USER</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>00558000002FtmwAAC</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>postTarget</name>
            <value>
                <stringValue>Leslie AURIOL</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>postTargetUserType</name>
            <value>
                <stringValue>USER</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;A new newsletter request was made with the following information,\n- Newsletter name : {![Campaign].Name}\n- Expected date : {![Campaign].Start_Date_Time__c}\n- Link : {![Campaign].Link__c}\n\nHave a nice day !&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A3</name>
        <label>Send to Leslie</label>
        <locationX>100</locationX>
        <locationY>400</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_1_A4</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>A new newsletter request was made with the following information,
- Newsletter name : {!myVariable_current.Name}
- Expected date : {!myVariable_current.Start_Date_Time__c}
- Link : {!myVariable_current.Link__c}

Have a nice day !</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>USER</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>00558000002FtnDAAS</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>postTarget</name>
            <value>
                <stringValue>Maud BLEROT</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>postTargetUserType</name>
            <value>
                <stringValue>USER</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;A new newsletter request was made with the following information,\n- Newsletter name : {![Campaign].Name}\n- Expected date : {![Campaign].Start_Date_Time__c}\n- Link : {![Campaign].Link__c}\n\nHave a nice day !&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A4</name>
        <label>Send to Maud</label>
        <locationX>100</locationX>
        <locationY>500</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_1_A5</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>A new newsletter request was made with the following information,
- Newsletter name : {!myVariable_current.Name}
- Expected date : {!myVariable_current.Start_Date_Time__c}
- Link : {!myVariable_current.Link__c}

Have a nice day !</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>USER</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>00558000002FtnpAAC</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>New_Newsletter_created</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A5</name>
        <label>email alert to Marketing</label>
        <locationX>100</locationX>
        <locationY>600</locationY>
        <actionName>Campaign.New_Newsletter_created</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Campaign.New_Newsletter_created</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>RT Newsletters</label>
        </rules>
    </decisions>
    <description>Send notification to marketing groups for new newsletter request</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(([Campaign].RecordTypeId = &quot;01258000000cjmsAAA&quot;),ISPICKVAL([Campaign].Status, &quot;New&quot;), !$User.BypassProcessBuilders__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(({!myVariable_current.RecordTypeId} = &quot;01258000000cjmsAAA&quot;),ISPICKVAL({!myVariable_current.Status}, &quot;New&quot;), !{!$User.BypassProcessBuilders__c})</expression>
    </formulas>
    <interviewLabel>Campaign_PB001_Createtasktargetconfirmed-14_InterviewLabel</interviewLabel>
    <label>Campaign_PB001_Sendnotificationfornewnewsletter</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Campaign</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
