force-app/main/default/flows/Create_Update_Video_Call_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Conversation_Transcript_Action_1</name>
        <label>Get Conversation Transcript Action 1</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>getConversationTranscript</actionName>
        <actionType>getConversationTranscript</actionType>
        <connector>
            <targetReference>Create_Meeting_Note</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>getConversationTranscript</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Create/Update Video Call Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create/Update Video Call Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Conversation_Transcript_Action_1</targetReference>
        </connector>
        <object>VideoCall</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Create_Meeting_Note</name>
        <label>Create Meeting Note</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <flowName>Sub_Meeting_Note_Creation</flowName>
        <inputAssignments>
            <name>CreatedVideoCall</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
