force-app/main/default/flows/Create_Event_Note.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AddToList</name>
        <label>AddToList</label>
        <locationX>314</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>EventNoteMemberListToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EventNoteMemberToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOnAllMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToList_0</name>
        <label>AddToList</label>
        <locationX>842</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>EventNoteMemberListToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EventNoteMemberToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOnAllMembers_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_ID</name>
        <label>Assign Record ID</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>VarRecordID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getCampaign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InitializeEventNoteMberem</name>
        <label>InitializeEventNoteMberem</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>EventNoteMemberToCreate.EventNote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EventNoteCreatedId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventNoteMemberToCreate.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnAllMembers.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventNoteMemberToCreate.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnAllMembers.LeadId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InitializeEventNoteMberem_0</name>
        <label>InitializeEventNoteMberem</label>
        <locationX>842</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>EventNoteMemberToCreate.EventNote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EventNoteCreatedId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventNoteMemberToCreate.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnAllMembers_0.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventNoteMemberToCreate.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnAllMembers_0.LeadId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToList_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetProduct</name>
        <label>SetProduct</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Var_CampaignProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCampaign.Product_T__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Event_Note</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Selected</name>
        <label>If Selected</label>
        <locationX>402</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>LoopOnAllMembers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_id_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectMembers</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LoopOnAllMembers.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsLeadConverted2</targetReference>
            </connector>
            <label>if selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsLeadConverted</name>
        <label>IsLeadConverted</label>
        <locationX>754</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>InitializeEventNoteMberem_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOnAllMembers_0.Lead.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOnAllMembers_0</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsLeadConverted2</name>
        <label>IsLeadConverted</label>
        <locationX>226</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>InitializeEventNoteMberem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOnAllMembers.Lead.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOnAllMembers</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Specific_user</name>
        <label>Specific user</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>LoopOnAllMembers_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isSpecific</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectSpecificMembers.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOnAllMembers</targetReference>
            </connector>
            <label>isSpecific</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CampaignMemberCollectionChoiceSet</name>
        <collectionReference>GetAttendedCampaignMembers</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>CampaignMember</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductChoice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product__c</picklistField>
        <picklistObject>Event_Note__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create Event Note {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Event Note</label>
    <loops>
        <name>LoopOnAllMembers</name>
        <label>LoopOnAllMembers</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <collectionReference>GetAttendedCampaignMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateEventNoteMembers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOnAllMembers_0</name>
        <label>LoopOnAllMembers</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <collectionReference>GetAttendedCampaignMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsLeadConverted</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateEventNoteMembers_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateEventNote</name>
        <label>CreateEventNote</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignRecordIdToReference>EventNoteCreatedId</assignRecordIdToReference>
        <connector>
            <targetReference>Specific_user</targetReference>
        </connector>
        <inputAssignments>
            <field>BusinessDeveloper__c</field>
            <value>
                <elementReference>BusinessDeveloper.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Note_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Note__c</field>
            <value>
                <elementReference>EventNote.Note__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Product</elementReference>
            </value>
        </inputAssignments>
        <object>Event_Note__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateEventNoteMembers</name>
        <label>CreateEventNoteMembers</label>
        <locationX>50</locationX>
        <locationY>1886</locationY>
        <inputReference>EventNoteMemberListToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateEventNoteMembers_0</name>
        <label>CreateEventNoteMembers</label>
        <locationX>578</locationX>
        <locationY>1670</locationY>
        <inputReference>EventNoteMemberListToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetAttendedCampaignMembers</name>
        <label>GetAttendedCampaignMembers</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetProduct</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarRecordID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>LeadId</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCampaign</name>
        <label>getCampaign</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAttendedCampaignMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_T__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Event_Note</name>
        <label>Create Event Note</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateEventNote</targetReference>
        </connector>
        <fields>
            <name>Note_Title</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getCampaign.Name</elementReference>
            </defaultValue>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>EventNote.Note__c</objectFieldReference>
        </fields>
        <fields>
            <name>Product</name>
            <choiceReferences>ProductChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Var_CampaignProduct</elementReference>
            </defaultValue>
            <fieldText>Product</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BusinessDeveloper</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>BusinessDeveloper__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Business Developer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Event_Note__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SelectSpecificMembers</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Members selection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Specific Members</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>All members</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SelectMembers</name>
            <choiceReferences>CampaignMemberCollectionChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Members (Attended)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SelectSpecificMembers.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Record_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EventNote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event_Note__c</objectType>
    </variables>
    <variables>
        <name>EventNoteCreatedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventNoteMemberListToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event_Note_Member__c</objectType>
    </variables>
    <variables>
        <name>EventNoteMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event_Note_Member__c</objectType>
    </variables>
    <variables>
        <name>EventNoteMemberToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event_Note_Member__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectdContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_CampaignProduct</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
