force-app/main/default/flows/Debugging_2_TBD.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_country</name>
        <label>Assign country</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CountriesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Client_Interests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_List_of_Countries</name>
        <label>Assign List of Countries</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CountriesList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Germany</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountriesList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Belgium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountriesList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>France</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountriesList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Switzerland</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountriesList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Spain</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountriesList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>United Kingdom</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountriesList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Italy</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountriesList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Netherlands</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountriesList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Luxembourg</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountriesList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>International</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountriesList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Japan</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Client_Interests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Meeting_notes</name>
        <label>Assign Meeting notes</label>
        <locationX>270</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>ClientInterestCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_MNIs.Product__r.Product_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeetingNoteSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_MNIs.Meeting_Note__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_MNIs</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>FirstDate</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>if_all_countries</name>
        <label>if all countries</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assign_country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>all</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>All</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_List_of_Countries</targetReference>
            </connector>
            <label>all</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FromDate</name>
        <dataType>Date</dataType>
        <expression>CASE(
    {!Last_x_Months},
    &quot;One Week&quot;, $Flow.CurrentDate - 7,
    &quot;One week&quot;, $Flow.CurrentDate - 7,
    &quot;One Month&quot;, ADDMONTHS($Flow.CurrentDate, -1),
    &quot;One month&quot;, ADDMONTHS($Flow.CurrentDate, -1),
    &quot;Three Months&quot;, ADDMONTHS($Flow.CurrentDate, -3),
    &quot;Three months&quot;, ADDMONTHS($Flow.CurrentDate, -3),
    &quot;YTD&quot;, DATE(YEAR($Flow.CurrentDate), 1, 1),
    &quot;One Year&quot;, ADDMONTHS($Flow.CurrentDate, -12),
    &quot;One year&quot;, ADDMONTHS($Flow.CurrentDate, -12),
    DATE( 2023, 1, 9 )
)</expression>
    </formulas>
    <interviewLabel>Debugging 2 TBD {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Debugging 2 TBD</label>
    <loops>
        <name>Loop_over_MNIs</name>
        <label>Loop over clis</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <collectionReference>Get_Client_Interests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Meeting_notes</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <name>Get_Client_Interests</name>
        <label>Get Meeting Note Insight</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_MNIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sentiment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Positive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>FromDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Country__c</field>
            <operator>In</operator>
            <value>
                <elementReference>CountriesList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Meeting_Note_Insight__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>if_all_countries</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ClientInterestCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountriesList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstDateMeetingNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Last_x_Months</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastDateMeetingNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MeetingNoteCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MeetingNoteSet</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nbOfMns</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Product Id</description>
        <name>Product_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
