force-app/main/default/flows/Digital_Interaction_Update_Email_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Upadte_DI_Action_Field</name>
        <label>Upadte DI Action Field</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>Get_Digital_Interaction.Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Digital_Interaction.Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateDIActionParent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Update_DI_Fields</name>
        <label>Update DI Fields</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DI_Action_is_empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Digital_Interaction.Action__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Digital_Interaction.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upadte_DI_Action_Field</targetReference>
            </connector>
            <label>DI Action is empty</label>
        </rules>
        <rules>
            <name>VideoWatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Video Watch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Digital_Interaction.Action__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Video Watch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upadte_DI_Action_Field</targetReference>
            </connector>
            <label>VideoWatch ?</label>
        </rules>
        <rules>
            <name>VideoView</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Digital_Interaction.Action__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Video Watch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Digital_Interaction.Action__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Video View</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Video View</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upadte_DI_Action_Field</targetReference>
            </connector>
            <label>VideoView ?</label>
        </rules>
        <rules>
            <name>Click</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Digital_Interaction.Action__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Click</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Click</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Digital_Interaction.Action__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Video Watch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Digital_Interaction.Action__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Video View</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upadte_DI_Action_Field</targetReference>
            </connector>
            <label>Click ?</label>
        </rules>
        <rules>
            <name>Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Digital_Interaction.Action__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Video Watch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Digital_Interaction.Action__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Video View</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Digital_Interaction.Action__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Click</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Digital_Interaction.Action__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upadte_DI_Action_Field</targetReference>
            </connector>
            <label>Open?</label>
        </rules>
    </decisions>
    <description>Update Action on parent object (DI) to set Only in case of Open Or Click</description>
    <environments>Default</environments>
    <interviewLabel>Digital Interaction: Update Email Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Digital Interaction: Update Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Digital_Interaction</name>
        <label>Get Digital Interaction</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_DI_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Digital_Interaction__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Digital_Interaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateDIActionParent</name>
        <label>Update DI Action Parent</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>Get_Digital_Interaction</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Digital_Interaction</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Click</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Video Watch</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Video View</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Form Completed</stringValue>
            </value>
        </filters>
        <object>Digital_Interaction_Details__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ActionMultiPicklist</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MultiActions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
