force-app/main/default/flows/FL_After_Save_Newsletter_Campaign_KPI_Check_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Belgium_KPI_Alert</name>
        <label>Send Belgium KPI Alert</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <actionName>Campaign.Belgium_KPI_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Campaign.Belgium_KPI_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_France_KPI_Email</name>
        <label>Send France KPI Email</label>
        <locationX>1634</locationX>
        <locationY>384</locationY>
        <actionName>Campaign.France_KPI_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Campaign.France_KPI_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Germany_KPI_Email</name>
        <label>Send Germany KPI Email</label>
        <locationX>1370</locationX>
        <locationY>384</locationY>
        <actionName>Campaign.Germany_KPI_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Campaign.Germany_KPI_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_International_KPI_Email</name>
        <label>Send International KPI Email</label>
        <locationX>2162</locationX>
        <locationY>384</locationY>
        <actionName>Campaign.International_KPI_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Campaign.International_KPI_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Italy_KPI_Email</name>
        <label>Send Italy KPI Email</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <actionName>Campaign.Italy_KPI_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Campaign.Italy_KPI_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Lux_Netherlands_KPI_Email</name>
        <label>Send Lux&amp;Netherlands KPI Email</label>
        <locationX>1106</locationX>
        <locationY>384</locationY>
        <actionName>Campaign.Lux_and_Netherlands_KPI_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Campaign.Lux_and_Netherlands_KPI_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Spain_Portugal_KPI_Email</name>
        <label>Send Spain &amp; Portugal KPI Email</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <actionName>Campaign.SpainPortugal_KPI_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Campaign.SpainPortugal_KPI_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Switzerland_KPI_Email</name>
        <label>Send Switzerland KPI Email</label>
        <locationX>1898</locationX>
        <locationY>384</locationY>
        <actionName>Campaign.Switzerland_KPI_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Campaign.Switzerland_KPI_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_UK_KPI_Email</name>
        <label>Send UK KPI Email</label>
        <locationX>842</locationX>
        <locationY>384</locationY>
        <actionName>Campaign.UK_KPI_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Campaign.UK_KPI_Email_Alert</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>NewsletterCountry</name>
        <label>NewsletterCountry</label>
        <locationX>1238</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Italy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Country__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Italy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Newsletters</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Italy_KPI_Email</targetReference>
            </connector>
            <label>Italy</label>
        </rules>
        <rules>
            <name>Spain_Portugal</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Country__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Spain</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Newsletter_Country__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Portugal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Newsletters</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Spain_Portugal_KPI_Email</targetReference>
            </connector>
            <label>Spain &amp; Portugal</label>
        </rules>
        <rules>
            <name>Belgium</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Country__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Belgium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Newsletter_Country__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sweden</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Newsletters</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Belgium_KPI_Alert</targetReference>
            </connector>
            <label>Belgium</label>
        </rules>
        <rules>
            <name>UK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Country__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>United Kingdom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Newsletters</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_UK_KPI_Email</targetReference>
            </connector>
            <label>UK</label>
        </rules>
        <rules>
            <name>Luxembourg_And_Netherlands</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Country__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Luxembourg</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Newsletter_Country__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>The Netherlands</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Newsletters</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Lux_Netherlands_KPI_Email</targetReference>
            </connector>
            <label>Luxembourg And Netherlands</label>
        </rules>
        <rules>
            <name>GermanyAustria</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Country__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Newsletter_Country__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Austria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Newsletters</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Germany_KPI_Email</targetReference>
            </connector>
            <label>Germany &amp; Austria</label>
        </rules>
        <rules>
            <name>France</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Country__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Newsletters</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_France_KPI_Email</targetReference>
            </connector>
            <label>France</label>
        </rules>
        <rules>
            <name>Switzerland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Country__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Switzerland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Newsletters</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Switzerland_KPI_Email</targetReference>
            </connector>
            <label>Switzerland</label>
        </rules>
        <rules>
            <name>International</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Country__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>International</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Newsletters</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_International_KPI_Email</targetReference>
            </connector>
            <label>International</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FL After Save Newsletter Campaign KPI Check Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL After Save Newsletter Campaign KPI Check Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NumberOfSent__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </filters>
        <object>Campaign</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X3_Days_Later</name>
            <connector>
                <targetReference>NewsletterCountry</targetReference>
            </connector>
            <label>3 Days Later</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
