force-app/main/default/flows/FL_After_Save_IS_Agreement_Email_Alerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Post_Governance_Email</name>
        <label>Send Post Governance Email</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>benoit.nansot@carmignac.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.NoReplayWideAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>ISAgreementEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>PostGovernanceEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Ready_to_Execute_Email</name>
        <label>Send Ready to Execute Email</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>benoit.nansot@carmignac.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.NoReplayWideAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>ISAgreementEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ReadyToExecuteEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Sent_Ready_For_Governance_Email</name>
        <label>Sent Ready For Governance Email</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>benoit.nansot@carmignac.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.NoReplayWideAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>ISAgreementEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ReadyForGovernanceEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Status_change</name>
        <label>Status change</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ready_For_Governance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for governance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ready for governance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sent_Ready_For_Governance_Email</targetReference>
            </connector>
            <label>Ready For Governance</label>
        </rules>
        <rules>
            <name>Post_Governance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post Governance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Post Governance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Post_Governance_Email</targetReference>
            </connector>
            <label>Post Governance</label>
        </rules>
        <rules>
            <name>Ready_To_Execute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready to execute</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ready to execute</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Ready_to_Execute_Email</targetReference>
            </connector>
            <label>Ready To Execute</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FL_After Save IS Agreement Email Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL_After Save IS Agreement Email Alerts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_change</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IS_Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ready for governance</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post Governance</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ready to execute</stringValue>
            </value>
        </filters>
        <object>Convention__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ISAgreementEmailSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>IS Agreement Update : {!$Record.ConventionName__c} in {!$Record.Status__c} stage</text>
    </textTemplates>
    <textTemplates>
        <name>PostGovernanceEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear all,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Please see below the details of the Investment Solutions Agreement &quot;{!$Record.ConventionName__c}&quot; that has entered the &lt;strong&gt;&lt;u&gt;Post Governance&lt;/u&gt;&lt;/strong&gt; Stage.&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: white;&quot;&gt;&lt;u&gt;Governance Decision Date&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;background-color: white;&quot;&gt; : &lt;/span&gt;{!$Record.Governance_Decision_Date__c}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: white;&quot;&gt;&lt;u&gt;Governance Decision&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;background-color: white;&quot;&gt; : &lt;/span&gt;{!$Record.Governance_Decision__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Reservations&lt;/u&gt;&lt;/strong&gt; : {!$Record.Reservations__c}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: white;&quot;&gt;&lt;u&gt;Agreement Code&lt;/u&gt; :&lt;/strong&gt;&lt;span style=&quot;background-color: white;&quot;&gt; {!$Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: white;&quot;&gt;&lt;u&gt;Company&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;background-color: white;&quot;&gt; : {!$Record.Company__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: white;&quot;&gt;&lt;u&gt;Agreement Type&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;background-color: white;&quot;&gt; : {!$Record.Agreement_Type__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Code Type&lt;/u&gt;&lt;/strong&gt; : {!$Record.Code_Type__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Status&lt;/u&gt;&lt;/strong&gt; : {!$Record.Status__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Description&lt;/u&gt;&lt;/strong&gt; : {!$Record.Description__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;AML/KYC Description&lt;/u&gt;&lt;/strong&gt; : {!$Record.AML_KYC_Description__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;DAC6 &lt;/u&gt;&lt;/strong&gt;: {!$Record.DAC6__c}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Project Teams Channel&lt;/u&gt;&lt;/strong&gt; : {!$Record.Teams_Channel_1__c}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;SPC Status&lt;/u&gt;&lt;/strong&gt; : {!$Record.SPC_Status__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;New Entity&lt;/u&gt;&lt;/strong&gt; : {!$Record.New_Entities__c}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Kind regards,&lt;/p&gt;&lt;p&gt;Salesforce Support&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ReadyForGovernanceEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear all,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Please see below the details of the Investment Solutions Agreement &quot;{!$Record.ConventionName__c}&quot; that has entered the &lt;strong&gt;&lt;u&gt;Ready for Governance&lt;/u&gt;&lt;/strong&gt; Stage.&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: white;&quot;&gt;&lt;u&gt;Agreement Code&lt;/u&gt; :&lt;/strong&gt;&lt;span style=&quot;background-color: white;&quot;&gt; {!$Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: white;&quot;&gt;&lt;u&gt;Company&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;background-color: white;&quot;&gt; : {!$Record.Company__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: white;&quot;&gt;&lt;u&gt;Agreement Type&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;background-color: white;&quot;&gt; : {!$Record.Agreement_Type__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Code Type&lt;/u&gt;&lt;/strong&gt; : {!$Record.Code_Type__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Status&lt;/u&gt;&lt;/strong&gt; : {!$Record.Status__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Description&lt;/u&gt;&lt;/strong&gt; : {!$Record.Description__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;AML/KYC Description&lt;/u&gt;&lt;/strong&gt; : {!$Record.AML_KYC_Description__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;DAC6&lt;/u&gt; &lt;/strong&gt;: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.DAC6__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Project Teams Channel&lt;/u&gt;&lt;/strong&gt; : {!$Record.Teams_Channel_1__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;SPC Status&lt;/u&gt;&lt;/strong&gt; : {!$Record.SPC_Status__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;New Entity&lt;/u&gt;&lt;/strong&gt; : {!$Record.New_Entities__c}&lt;span style=&quot;font-size: 8px;&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Kind regards,&lt;/p&gt;&lt;p&gt;Salesforce Support&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ReadyToExecuteEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear all,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please see below the details of the Investment Solutions Agreement &quot;{!$Record.ConventionName__c}&quot; that has entered the &lt;strong&gt;&lt;u&gt;Ready to Execute&lt;/u&gt;&lt;/strong&gt; Stage.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;SPC Status&lt;/u&gt;&lt;/strong&gt; : {!$Record.SPC_Status__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;SPC Validation Date&lt;/u&gt;&lt;/strong&gt; : {!$Record.SPC_Validation_Date__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: white;&quot;&gt;&lt;u&gt;Governance Decision Date&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;background-color: white;&quot;&gt; : &lt;/span&gt;{!$Record.Governance_Decision_Date__c}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: white;&quot;&gt;&lt;u&gt;Governance Decision&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;background-color: white;&quot;&gt; : &lt;/span&gt;{!$Record.Governance_Decision__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Reservations&lt;/u&gt;&lt;/strong&gt; : {!$Record.Reservations__c}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Governance&lt;/u&gt;&lt;/strong&gt; Stage.&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: white;&quot;&gt;&lt;u&gt;Agreement Code&lt;/u&gt; :&lt;/strong&gt;&lt;span style=&quot;background-color: white;&quot;&gt; {!$Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: white;&quot;&gt;&lt;u&gt;Company&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;background-color: white;&quot;&gt; : {!$Record.Company__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: white;&quot;&gt;&lt;u&gt;Agreement Type&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;background-color: white;&quot;&gt; : {!$Record.Agreement_Type__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Code Type&lt;/u&gt;&lt;/strong&gt; : {!$Record.Code_Type__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Status&lt;/u&gt;&lt;/strong&gt; : {!$Record.Status__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Description&lt;/u&gt;&lt;/strong&gt; : {!$Record.Description__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;AML/KYC Description&lt;/u&gt;&lt;/strong&gt; : {!$Record.AML_KYC_Description__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;DAC6 &lt;/u&gt;&lt;/strong&gt;: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.DAC6__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Project Teams Channel&lt;/u&gt;&lt;/strong&gt; : {!$Record.Teams_Channel_1__c}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;SPC Status&lt;/u&gt;&lt;/strong&gt; : {!$Record.SPC_Status__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;New Entity&lt;/u&gt;&lt;/strong&gt; : {!$Record.New_Entities__c}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Kind regards,&lt;/p&gt;&lt;p&gt;Salesforce Support&lt;/p&gt;</text>
    </textTemplates>
</Flow>
