force-app/main/default/flows/FL_After_Save_Seismic_Task_Update_and_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Content</name>
        <label>Content</label>
        <locationX>380</locationX>
        <locationY>863</locationY>
        <actionName>TextParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Documents_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Document Name</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>textToParse</name>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TextParser</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Documents_Sent</name>
        <label>Documents Sent</label>
        <locationX>380</locationX>
        <locationY>971</locationY>
        <actionName>TextParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetExistingTask</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Document(s)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>textToParse</name>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TextParser</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Search_Downloaded</name>
        <label>Search Downloaded</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <actionName>TextParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Search_Pages_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Downloaded</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>textToParse</name>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TextParser</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Search_Duration</name>
        <label>Search Duration</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <actionName>TextParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Search_Summary_Link</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Duration</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>textToParse</name>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TextParser</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Search_Pages_Sent</name>
        <label>Search Pages Sent</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <actionName>TextParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Search_Pages_Viewed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Pages Sent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>textToParse</name>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TextParser</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Search_Pages_Viewed</name>
        <label>Search Pages Viewed</label>
        <locationX>380</locationX>
        <locationY>755</locationY>
        <actionName>TextParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Content</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Pages Viewed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>textToParse</name>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TextParser</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Search_Summary_Link</name>
        <label>Search Summary Link</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <actionName>TextParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Search_Downloaded</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Session Summary Link</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>textToParse</name>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TextParser</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_New_Values_to_DI</name>
        <label>Assign New Values to DI</label>
        <locationX>50</locationX>
        <locationY>1835</locationY>
        <assignmentItems>
            <assignToReference>Get_DI.Time_Spent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetExistingTask.Total_Duration_in_secs__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_DI.Attendance_Duration_Min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DIdurationMins</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_DI.Total_downloads__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalDownloads</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_DI.Seismic_Details_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Search_Summary_Link.varExtractedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_DI.Seismic_Documents_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DocumentNameMostViewed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_DI.TECH_Time_Spent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TechTimeSpent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_DI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValues</name>
        <label>AssignValues</label>
        <locationX>182</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>GetExistingTask.ContentViewed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingTask.Total_Duration_in_secs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DurationTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingTask.Session_Summary_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Search_Summary_Link.varExtractedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingTask.Pages_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PagesSent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingTask.Pages_Viewed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PagesViewed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingTask.DownloadedDoc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Downloaded</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingTask.Number_of_Sessions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NbSessions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingTask.First_Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstSession</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingTask.Last_Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Email_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_DI_exist</name>
        <label>Does DI exist</label>
        <locationX>182</locationX>
        <locationY>1619</locationY>
        <defaultConnector>
            <targetReference>Create_DI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Di_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetExistingTask.LiveSend_Link_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_DI.LiveSend_Link_Id_DI__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_DID</targetReference>
            </connector>
            <label>Di exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Session_Type</name>
        <label>Session Type</label>
        <locationX>380</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Update_Link_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetExistingTask.EventAction__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Livesend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetExistingTask.EventAction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Link</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetExistingTask.EventAction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send by Email Blast</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignValues</targetReference>
            </connector>
            <label>Email</label>
        </rules>
    </decisions>
    <description>This flow updates the &quot;status&quot;, &quot;content viewed&quot;, and &quot;last session date&quot; fields on a Seismic type Task before deleting the corresponding Seismic Session type task</description>
    <environments>Default</environments>
    <formulas>
        <name>DIDActionDownload</name>
        <dataType>String</dataType>
        <expression>IF( {!Search_Downloaded.varExtractedValue}= &apos;Yes&apos;, &apos;Download&apos;, &apos;Open&apos;)</expression>
    </formulas>
    <formulas>
        <name>DIDName</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_DI.Contact_lu__r.First_Last_name__c}+  &apos; Seismic Session &apos;  + TEXT(TODAY()), 80)</expression>
    </formulas>
    <formulas>
        <name>DIdurationMins</name>
        <dataType>Number</dataType>
        <expression>{!GetExistingTask.Total_Duration_in_secs__c} / 60</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>DocumentNameMostViewed</name>
        <dataType>String</dataType>
        <expression>IF(
{!DurationValue} &gt;  {!Get_DI.TECH_Time_Spent__c}, {!Content.varExtractedValue}, {!Get_DI.Seismic_Documents_Sent__c})</expression>
    </formulas>
    <formulas>
        <name>Downloaded</name>
        <dataType>String</dataType>
        <expression>IF(
{!Search_Downloaded.varExtractedValue} = &apos;No&apos; &amp;&amp; ({!GetExistingTask.DownloadedDoc__c} = &apos;No&apos; || ISBLANK({!GetExistingTask.DownloadedDoc__c})), &apos;No&apos;,  &apos;Yes&apos;)</expression>
    </formulas>
    <formulas>
        <name>DurationTotal</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!GetExistingTask.Total_Duration_in_secs__c}),{!DurationValue}, {!DurationValue}+{!GetExistingTask.Total_Duration_in_secs__c} )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>DurationValue</name>
        <dataType>Number</dataType>
        <expression>VALUE(TRIM(LEFT({!Search_Duration.varExtractedValue}, LEN({!Search_Duration.varExtractedValue})-1)))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FirstSession</name>
        <dataType>DateTime</dataType>
        <expression>IF(
ISBLANK({!GetExistingTask.First_Session__c}),({!$Record.CreatedDate}), {!GetExistingTask.First_Session__c})</expression>
    </formulas>
    <formulas>
        <name>LinkDuration</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!$Record.Total_Duration_in_secs__c}),{!DurationValue}, {!DurationValue}+{!$Record.Total_Duration_in_secs__c} )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LinkFirstSession</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE
({!$Record.CreatedDate})</expression>
    </formulas>
    <formulas>
        <name>LinkPagesViewed</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Search_Pages_Viewed.varExtractedValue})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NbLinkSessions</name>
        <dataType>Number</dataType>
        <expression>IF(
ISBLANK({!$Record.Number_of_Sessions__c}), 1, ({!$Record.Number_of_Sessions__c}+1)
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NbSessions</name>
        <dataType>Number</dataType>
        <expression>IF(
ISBLANK({!GetExistingTask.Number_of_Sessions__c}), 1, ({!GetExistingTask.Number_of_Sessions__c}+1)
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PagesSent</name>
        <dataType>Number</dataType>
        <expression>IF({!GetExistingTask.Pages_Sent__c}=1, VALUE({!Search_Pages_Sent.varExtractedValue}), {!GetExistingTask.Pages_Sent__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PagesViewed</name>
        <dataType>Number</dataType>
        <expression>IF({!GetExistingTask.Pages_Viewed__c}&lt;Value({!Search_Pages_Viewed.varExtractedValue}), Value({!Search_Pages_Viewed.varExtractedValue}), {!GetExistingTask.Pages_Viewed__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TechTimeSpent</name>
        <dataType>Number</dataType>
        <expression>IF(
OR(
({!DurationValue} &gt;  {!Get_DI.TECH_Time_Spent__c}),
 (ISNULL({!Get_DI.TECH_Time_Spent__c}))
)
,

{!DurationValue},  {!Get_DI.TECH_Time_Spent__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalDownloads</name>
        <dataType>Number</dataType>
        <expression>IF({!Search_Downloaded.varExtractedValue}=&apos;Yes&apos;, {!Get_DI.Tech_Total_Downloads__c}+1, {!Get_DI.Tech_Total_Downloads__c}+0)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>FL After Save Seismic Task Update and Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL After Save Seismic Task Update and Delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_DI</name>
        <label>Create DI</label>
        <locationX>314</locationX>
        <locationY>1727</locationY>
        <assignRecordIdToReference>NewDI</assignRecordIdToReference>
        <connector>
            <targetReference>Create_DID_for_new_DI</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attendance_Duration_Min__c</field>
            <value>
                <elementReference>DIdurationMins</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_lu__c</field>
            <value>
                <elementReference>GetExistingTask.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement_Type__c</field>
            <value>
                <stringValue>Seismic</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LiveSend_Link_Id_DI__c</field>
            <value>
                <elementReference>GetExistingTask.LiveSend_Link_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seismic_Details_Link__c</field>
            <value>
                <elementReference>GetExistingTask.Session_Summary_Link__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seismic_Documents_Sent__c</field>
            <value>
                <elementReference>Content.varExtractedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Seismic</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Spent__c</field>
            <value>
                <elementReference>GetExistingTask.Total_Duration_in_secs__c</elementReference>
            </value>
        </inputAssignments>
        <object>Digital_Interaction__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_DID</name>
        <label>Create DID</label>
        <locationX>50</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Assign_New_Values_to_DI</targetReference>
        </connector>
        <inputAssignments>
            <field>Details_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Digital_Interaction__c</field>
            <value>
                <elementReference>Get_DI.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Live_Send_Link_DID__c</field>
            <value>
                <elementReference>$Record.LiveSend_Link_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>DIDName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seismic_Document__c</field>
            <value>
                <elementReference>Content.varExtractedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Spent__c</field>
            <value>
                <elementReference>DurationValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>DIDActionDownload</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>URL__c</field>
            <value>
                <elementReference>GetExistingTask.Session_Summary_Link__c</elementReference>
            </value>
        </inputAssignments>
        <object>Digital_Interaction_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_DID_for_new_DI</name>
        <label>Create DID for new DI</label>
        <locationX>314</locationX>
        <locationY>1835</locationY>
        <connector>
            <targetReference>Get_New_DI_Download_info</targetReference>
        </connector>
        <inputAssignments>
            <field>Details_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Digital_Interaction__c</field>
            <value>
                <elementReference>NewDI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Live_Send_Link_DID__c</field>
            <value>
                <elementReference>GetExistingTask.LiveSend_Link_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>DIDName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seismic_Document__c</field>
            <value>
                <elementReference>Content.varExtractedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Spent__c</field>
            <value>
                <elementReference>GetExistingTask.Total_Duration_in_secs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>DIDActionDownload</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>URL__c</field>
            <value>
                <elementReference>GetExistingTask.Session_Summary_Link__c</elementReference>
            </value>
        </inputAssignments>
        <object>Digital_Interaction_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>DeleteSessionTask</name>
        <label>DeleteSessionTask</label>
        <locationX>182</locationX>
        <locationY>2243</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_DI</name>
        <label>Get DI</label>
        <locationX>182</locationX>
        <locationY>1511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_DI_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LiveSend_Link_Id_DI__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetExistingTask.LiveSend_Link_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Digital_Interaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_DI_Download_info</name>
        <label>Get New DI Download info</label>
        <locationX>314</locationX>
        <locationY>1943</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_the_new_DI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewDI</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Digital_Interaction__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Tech_Total_Downloads__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetExistingTask</name>
        <label>GetExistingTask</label>
        <locationX>380</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Session_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LiveSend_Link_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LiveSend_Link_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Seismic</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates te status, from &quot;Completed&quot; to &quot;Done&quot;</description>
        <name>Update_Email_Task</name>
        <label>Update Email Task</label>
        <locationX>182</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>Get_DI</targetReference>
        </connector>
        <inputReference>GetExistingTask</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_DI</name>
        <label>Update Existing DI</label>
        <locationX>50</locationX>
        <locationY>1943</locationY>
        <connector>
            <targetReference>DeleteSessionTask</targetReference>
        </connector>
        <inputReference>Get_DI</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Link_Task</name>
        <label>Update Link Task</label>
        <locationX>578</locationX>
        <locationY>1295</locationY>
        <inputAssignments>
            <field>ContentViewed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DownloadedDoc__c</field>
            <value>
                <elementReference>Search_Downloaded.varExtractedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventAction__c</field>
            <value>
                <stringValue>Link</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Session__c</field>
            <value>
                <elementReference>FirstSession</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Session__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Sessions__c</field>
            <value>
                <elementReference>NbLinkSessions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pages_Sent__c</field>
            <value>
                <elementReference>PagesSent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pages_Viewed__c</field>
            <value>
                <elementReference>LinkPagesViewed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session_Summary_Link__c</field>
            <value>
                <elementReference>Search_Summary_Link.varExtractedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Done</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Duration_in_secs__c</field>
            <value>
                <elementReference>LinkDuration</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_new_DI</name>
        <label>Update the new DI</label>
        <locationX>314</locationX>
        <locationY>2051</locationY>
        <connector>
            <targetReference>DeleteSessionTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewDI</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_downloads__c</field>
            <value>
                <elementReference>Get_New_DI_Download_info.Tech_Total_Downloads__c</elementReference>
            </value>
        </inputAssignments>
        <object>Digital_Interaction__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Search_Duration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Seismic Session</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewDI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Create_DI</elementReference>
        </value>
    </variables>
</Flow>
