force-app/main/default/flows/FL_After_save_Task_follow_up_thematic_lunch_campaign_event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>489</locationX>
        <locationY>1956</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>VarColl_Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Vartask.Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_ContactId_to_VarcollcontactId</name>
        <label>Assign ContactId &amp; Recipients Notif</label>
        <locationX>709</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>VarcollContact_Id_txt</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_task_value.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_company_Owner_is_Actif</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_task_to_varcollTasks</name>
        <label>Assign task to varcollTasks</label>
        <locationX>577</locationX>
        <locationY>1356</locationY>
        <assignmentItems>
            <assignToReference>Varcoll_tasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Vartask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_task_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_task_values</name>
        <label>Assign task fields values</label>
        <locationX>577</locationX>
        <locationY>1248</locationY>
        <assignmentItems>
            <assignToReference>Vartask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Follow-up Thematic Event</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Vartask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign_task_value.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Vartask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign_task_value.Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Vartask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormDue_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Vartask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Txt_Subject_Task</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Vartask.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Txt_Descrip_Task</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Vartask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign_task_value.Contact.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Vartask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_task_to_varcollTasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>List_Notif_Recipients</name>
        <label>List Notif Recipients</label>
        <locationX>577</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>VarColl_Recipients</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Assign_task_value.Contact.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarColl_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_task_value.Contact.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_task_values</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Constant_Emptyvalue</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>Check_if_company_Owner_is_Actif</name>
        <label>Check if company Owner is Actif</label>
        <locationX>709</locationX>
        <locationY>1032</locationY>
        <defaultConnector>
            <targetReference>Assign_task_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Company_Owner_Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_task_value.Contact.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>List_Notif_Recipients</targetReference>
            </connector>
            <label>Company Owner Is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>End_Date_y_a_4_jours</name>
        <label>End Date y a 4 jours</label>
        <locationX>742</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>NON</defaultConnectorLabel>
        <rules>
            <name>OUI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Form_end_date_ok</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nb_of_Contacts_Attended</targetReference>
            </connector>
            <label>OUI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nb_of_Contacts_Attended</name>
        <label>Nb of Contacts Attended</label>
        <locationX>467</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>X20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tech_Contact_Attended__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tech_Contact_Attended__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Event_and_Meeting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tasks_Follow_up_for_this_campaign</targetReference>
            </connector>
            <label>attended&lt;20</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_if_flow_has_been_already_launch</name>
        <label>Verify if flow has already created tasks</label>
        <locationX>181</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Get_campaign_members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not yet</defaultConnectorLabel>
        <rules>
            <name>Already_follow_up_thematic_lunch_for_this_campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tasks_Follow_up_for_this_campaign.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Already task follow up thematic lunch for this campaign created</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Form_end_date_ok</name>
        <dataType>String</dataType>
        <expression>IF(DATEVALUE({!$Record.End_Date_Time__c})=({!$Flow.CurrentDate}-4),&apos;true&apos;,&apos;false&apos;)</expression>
    </formulas>
    <formulas>
        <name>FormCurrentDate_moins_48H</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-2</expression>
    </formulas>
    <formulas>
        <name>FormDue_Date</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.End_Date_Time__c})+9</expression>
    </formulas>
    <formulas>
        <name>FormEnd_Date_plus_4J</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.End_Date_Time__c})+4</expression>
    </formulas>
    <formulas>
        <name>FormEndDATE</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.End_Date_Time__c})</expression>
    </formulas>
    <interviewLabel>FL After save Task follow up thematic lunch campaign event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL After save Task follow up thematic lunch campaign event</label>
    <loops>
        <name>Assign_task_value</name>
        <label>Assign task value</label>
        <locationX>489</locationX>
        <locationY>816</locationY>
        <collectionReference>VarcollCampaignMembersContact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ContactId_to_VarcollcontactId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Thematic_Lunch_checkbox_to_true</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Records_1</name>
        <label>Create all tasks</label>
        <locationX>489</locationX>
        <locationY>1740</locationY>
        <connector>
            <targetReference>Get_Custom_Notification_type</targetReference>
        </connector>
        <inputReference>Varcoll_tasks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_campaign_members</name>
        <label>Get all campaign members</label>
        <locationX>489</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_task_value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Constant_Emptyvalue</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Constant_Emptyvalue</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputReference>VarcollCampaignMembersContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>CampaignId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification_type</name>
        <label>Get Custom Notification type</label>
        <locationX>489</locationX>
        <locationY>1848</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task_ThematicLunch</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tasks_Follow_up_for_this_campaign</name>
        <label>Get potential Tasks Follow up for this campaign</label>
        <locationX>181</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_if_flow_has_been_already_launch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Follow-up Thematic Event</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Thematic_Lunch_checkbox_to_true</name>
        <label>Update Thematic follow up checkbox to true (campaign)</label>
        <locationX>489</locationX>
        <locationY>1632</locationY>
        <connector>
            <targetReference>Create_Records_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Thematic_Event_Follow_up__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Thematic_Event_Follow_up__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Exclusive Event</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Event Conference</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X24H_later</name>
            <connector>
                <targetReference>End_Date_y_a_4_jours</targetReference>
            </connector>
            <label>4 days later</label>
            <maxBatchSize>50</maxBatchSize>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>End_Date_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Notification_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new task has been created related to the campaign: {!$Record.Name}, 
Due Date: {!Vartask.ActivityDate}, 
Priority: {!Vartask.Priority}</text>
    </textTemplates>
    <textTemplates>
        <name>Txt_Descrip_Task</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please get in touch with this contact about his participation to the campaign : {!$Record.Name}, ending the {!$Record.End_Date_Time__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>Txt_Subject_Task</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Follow-up on {!$Record.Name}</text>
    </textTemplates>
    <variables>
        <name>VarAccountOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarColl_Recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Varcoll_tasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>VarCollCampaignId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarcollCampaignMembersContact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>VarcollContact_Id_txt</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Vartask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
