force-app/main/default/flows/FL_After_Save_Task_Business_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>D_j_cr_e</name>
        <label>Contact is OK ?</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Log_Notes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NONE</defaultConnectorLabel>
        <rules>
            <name>LiveWebinar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contact_info</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Engagement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Webinars</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.attendance__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>80.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_task_Live</targetReference>
            </connector>
            <label>Live Webinar</label>
        </rules>
        <rules>
            <name>Replay_Webinar1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contact_info</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Engagement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Replay Webinar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.attendance__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>75.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_task_Replay</targetReference>
            </connector>
            <label>Replay Webinar</label>
        </rules>
        <rules>
            <name>Prospace1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contact_info</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Engagement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Time_Spent__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>600.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_task_Prospace</targetReference>
            </connector>
            <label>Prospace</label>
        </rules>
        <rules>
            <name>Web1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contact_info</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Engagement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Time_Spent__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>600.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_task_Web</targetReference>
            </connector>
            <label>Web</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Form_Due_Date</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.CreatedDate})+5</expression>
    </formulas>
    <formulas>
        <name>Form_EmailcontainsCarmignac</name>
        <dataType>Boolean</dataType>
        <expression>IF(CONTAINS({!$Record.Contact_lu__r.Email}, &apos;@carmignac&apos;), true, false)</expression>
    </formulas>
    <interviewLabel>FL After Save Task Business Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL After Save Task Business Opportunity with logs and update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_2_of_Log_Notes</name>
        <label>Copy 2 of Log Notes</label>
        <locationX>2162</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>LogEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <stringValue>0031i00001Uygn8AAB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Note</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_5_of_Log_Notes</name>
        <label>Copy 5 of Log Notes</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>Creationerror</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <stringValue>0031i00001Uygn8AAB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Note</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_task_Live</name>
        <label>Create task Live</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Flag_DI_as_Task_Created</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_5_of_Log_Notes</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Form_Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Text_Desc_Live_Webinar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_contact_info.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Text_Subject_Live_Webinar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Business Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_contact_info.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_task_Prospace</name>
        <label>Create task Prospace</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Flag_DI_as_Task_Created</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_5_of_Log_Notes</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Form_Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Text_Desc_Prospace</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_contact_info.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Text_Subject_Prospace</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Business Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_contact_info.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_task_Replay</name>
        <label>Create task Replay</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Flag_DI_as_Task_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_5_of_Log_Notes</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Form_Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Text_Desc_Replay_Webinar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_contact_info.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Text_Subject_Replay_Webinar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Business Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_contact_info.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_task_Web</name>
        <label>Create task Web</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Flag_DI_as_Task_Created</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_5_of_Log_Notes</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Form_Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Text_Desc_Web</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_contact_info.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Text_Subject_Web</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Business Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_contact_info.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_contact_info</name>
        <label>Get contact info</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>D_j_cr_e</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (NOT 4)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact_lu__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>get_Recordtype.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>true</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>Contains</operator>
            <value>
                <stringValue>@carmignac.com</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Recordtype</name>
        <label>get Recordtype</label>
        <locationX>1106</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_contact_info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Internal_Carmignac_Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Flag_DI_as_Task_Created</name>
        <label>Flag DI as Task Created</label>
        <locationX>1106</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>TECH_Task_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Recordtype</targetReference>
        </connector>
        <filterLogic>1 AND 8 AND (2 OR 3) AND ( 4 OR 5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>Contact_lu__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Time_Spent__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>600.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>attendance__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>75.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Engagement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </filters>
        <filters>
            <field>Engagement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospace</stringValue>
            </value>
        </filters>
        <filters>
            <field>Engagement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Webinars</stringValue>
            </value>
        </filters>
        <filters>
            <field>Engagement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Replay Webinar</stringValue>
            </value>
        </filters>
        <filters>
            <field>TECH_Task_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Digital_Interaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Creationerror</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!LogEmail}&lt;/p&gt;&lt;p&gt;Contact Id :{!Get_contact_info.Id}&lt;/p&gt;&lt;p&gt;Subject: {!Text_Subject_Web}&lt;/p&gt;&lt;p&gt;Subject: {!Text_Subject_Prospace}&lt;/p&gt;&lt;p&gt;Subject: {!Text_Subject_Live_Webinar}&lt;/p&gt;&lt;p&gt;Subject: {!&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Text_Subject_Replay_Webinar&lt;/span&gt;}&lt;/p&gt;&lt;p&gt;Description: {!&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Text_Desc_Web&lt;/span&gt;}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Description&lt;/span&gt;: {!Text_Desc_Prospace}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Description&lt;/span&gt;: {!&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Text_Desc_Live_Webinar&lt;/span&gt;}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Description&lt;/span&gt;: {!&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Text_Desc_Replay_Webinar&lt;/span&gt;}&lt;/p&gt;&lt;p&gt;Erreur a la creation de la tache&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>LogEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Engagement_Type__c : {!$Record.Engagement_Type__c}
Time_Spent__c: {!$Record.Time_Spent__c}
attendance__c:{!$Record.attendance__c}
Id : {!$Record.Id}
Name: {!$Record.Name}
Contact Owner :{!Get_contact_info.OwnerId}</text>
    </textTemplates>
    <textTemplates>
        <name>LogEmailContact</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!LogEmail}&lt;/p&gt;&lt;p&gt;Contact : {!Form_EmailcontainsCarmignac}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Text_Desc_Live_Webinar</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!$Record.Contact_lu__r.FirstName} {!$Record.Contact_lu__r.LastName} from {!Get_contact_info.Account.Name} participated significantly in the webinar {!$Record.Campaign__r.Name} (over 80% attendance)</text>
    </textTemplates>
    <textTemplates>
        <name>Text_Desc_Prospace</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Contact_lu__r.FirstName} {!$Record.Contact_lu__r.LastName} from {!Get_contact_info.Account.Name} spent a significant time (over 10 minutes) on our website. Click on the related Digital Interaction to learn more</text>
    </textTemplates>
    <textTemplates>
        <name>Text_Desc_Replay_Webinar</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Contact_lu__r.FirstName} {!$Record.Contact_lu__r.LastName} from {!Get_contact_info.Account.Name} watched {!$Record.attendance__c}% of the replay {!$Record.Campaign__r.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>Text_Desc_Web</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Contact_lu__r.FirstName} {!$Record.Contact_lu__r.LastName} from {!Get_contact_info.Account.Name} spent a significant time (over 10 minutes) on our website. Click on the related Digital Interaction to learn more</text>
    </textTemplates>
    <textTemplates>
        <name>Text_Subject_Live_Webinar</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Contact_lu__r.FirstName} {!$Record.Contact_lu__r.LastName} attended {!$Record.attendance__c}% of the webinar {!$Record.Campaign__r.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>Text_Subject_Prospace</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Contact_lu__r.FirstName} {!$Record.Contact_lu__r.LastName} has just spent more than 10 minutes on our website</text>
    </textTemplates>
    <textTemplates>
        <name>Text_Subject_Replay_Webinar</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Contact_lu__r.FirstName} {!$Record.Contact_lu__r.LastName} watched {!$Record.attendance__c}% of the webinar {!$Record.Campaign__r.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>Text_Subject_Web</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Contact_lu__r.FirstName} {!$Record.Contact_lu__r.LastName} has just spent more than 10 minutes on our website</text>
    </textTemplates>
</Flow>
