force-app/main/default/flows/FL_AfterSave_WTP_Reallocation_Email_Alerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_Account_Owners</name>
        <label>Alert Account Owners</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>GetRecipientsForTeams1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>OwnersEmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.NoReplayWideAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Informationemailsubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>WarningReallocationEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Send_Closed_Email_to_DCO_and_Owners</name>
        <label>Copy 2 of Send Closed Email to DCO and Owners</label>
        <locationX>1854</locationX>
        <locationY>1763</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailsVariable</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.NoReplayWideAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>WTP Reallocation Request Closed - Rejected</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ClosedRejectedEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Send_Closed_Email_to_Team</name>
        <label>Copy 2 of Send Closed Email to Team</label>
        <locationX>1722</locationX>
        <locationY>1571</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_2_of_Send_Closed_Email_to_DCO_and_Owners</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailRecipientsList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.NoReplayWideAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>WTP Reallocation Request Closed - Rejected</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ClosedRejectedEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Send an email if the list is of 5 people</description>
        <name>Copy_2_of_Send_Closed_Email_to_Team_List_of_5</name>
        <label>Send Closed Email to Team List of 5</label>
        <locationX>1942</locationX>
        <locationY>971</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>AssignEmails3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailRecipientsList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.NoReplayWideAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>WTP Reallocation Request Closed - Rejected</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ClosedRejectedEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Closed_Email</name>
        <label>Send Closed Email to Team</label>
        <locationX>1062</locationX>
        <locationY>1571</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Closed_Email_to_DCO_and_Owners</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailRecipientsList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.NoReplayWideAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>WTP Reallocation Request Closed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ClosedConfirmedWTPEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Closed_Email_to_DCO_and_Owners</name>
        <label>Send Closed Email to DCO and Owners</label>
        <locationX>1194</locationX>
        <locationY>1763</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailsVariable</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.NoReplayWideAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>WTP Reallocation Request Closed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ClosedConfirmedWTPEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Send an email if the list is of 5 people</description>
        <name>Send_Closed_Email_to_Team_List_of_5</name>
        <label>Send Closed Email to Team List of 5</label>
        <locationX>1282</locationX>
        <locationY>971</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>AssignEmails2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailRecipientsList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.NoReplayWideAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>WTP Reallocation Request Closed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ClosedConfirmedWTPEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_New_Email_DCO</name>
        <label>Send New Email DCO</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Same_Zone</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>distributionclientoperations@carmignac.com,silvia.manz@carmignac.com,franck.blachet@carmignac.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.NoReplayWideAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New WTP Reallocation Request </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NewWTPEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Warning_Email_to_Teams</name>
        <label>Send Warning Email to Teams</label>
        <locationX>50</locationX>
        <locationY>1787</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailRecipientsList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.NoReplayWideAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Informationemailsubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>WarningReallocationEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Send an email if the list is of 5 people</description>
        <name>Send_Warning_Email_to_Teams_list_of_5</name>
        <label>Send Warning Email to Teams (list of 5)</label>
        <locationX>270</locationX>
        <locationY>1295</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>AssignEmails2_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailRecipientsList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.NoReplayWideAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Informationemailsubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>WarningReallocationEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AssignEmails</name>
        <label>AssignEmails</label>
        <locationX>1414</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>EmailRecipientsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopAssignEmails2.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_List_Longer_than_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEmails1</name>
        <label>AssignEmails1</label>
        <locationX>402</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>EmailRecipientsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopAssignEmails1.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Decide_List_Longer_than_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEmails2</name>
        <label>AssignEmails2</label>
        <locationX>1282</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>EmailRecipientsList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAssignEmails2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEmails2_1</name>
        <label>AssignEmails2(1)</label>
        <locationX>270</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>EmailRecipientsList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAssignEmails1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEmails3</name>
        <label>AssignEmails3</label>
        <locationX>1942</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>EmailRecipientsList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAssignEmails3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEmailsRejection</name>
        <label>AssignEmailsRejection</label>
        <locationX>2074</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>EmailRecipientsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopAssignEmails3.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Decide_List_Longer_than_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOwnersEmail</name>
        <label>AssignOwnersEmail</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OwnersEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Company_to_reallocate_from__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnersEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Company_To_Reallocate_To__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Alert_Account_Owners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_EmailDCOandOwner</name>
        <label>Copy 2 of EmailDCOandOwner</label>
        <locationX>1854</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>EmailsVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>distributionclientoperations@carmignac.com,silvia.manz@carmignac.com,franck.blachet@carmignac.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailsVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Company_to_reallocate_from__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailsVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Company_To_Reallocate_To__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Decision_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmailDCOandOwner</name>
        <label>EmailDCOandOwner</label>
        <locationX>1194</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>EmailsVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>distributionclientoperations@carmignac.com,silvia.manz@carmignac.com,franck.blachet@carmignac.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailsVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Company_to_reallocate_from__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailsVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Company_To_Reallocate_To__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Decision_5</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_Decide_List_Longer_than_5</name>
        <label>Decide List Longer than 5 ? (1)</label>
        <locationX>402</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>LoopAssignEmails1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_List_Longer_than_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Warning_Email_to_Teams_list_of_5</targetReference>
            </connector>
            <label>List Longer than 5 (1)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Decision_5</name>
        <label>Copy 1 of Decision 5</label>
        <locationX>1194</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Send_Closed_Email_to_DCO_and_Owners</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Remaining_Emails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowCounter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Closed_Email</targetReference>
            </connector>
            <label>Copy 1 of Remaining Emails</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Copy_1_of_Decision_5</name>
        <label>Copy 2 of Copy 1 of Decision 5</label>
        <locationX>1854</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Send_Closed_Email_to_DCO_and_Owners</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Copy_1_of_Remaining_Emails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowCounter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Send_Closed_Email_to_Team</targetReference>
            </connector>
            <label>Copy 2 of Copy 1 of Remaining Emails</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_Decide_List_Longer_than_5</name>
        <label>Decide List Longer than 5 ?</label>
        <locationX>2074</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>LoopAssignEmails3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_List_Longer_than_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Send_Closed_Email_to_Team_List_of_5</targetReference>
            </connector>
            <label>List Longer than 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_List_Longer_than_5</name>
        <label>Decide List Longer than 5 ?</label>
        <locationX>1414</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>LoopAssignEmails2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_Longer_than_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Closed_Email_to_Team_List_of_5</targetReference>
            </connector>
            <label>List Longer than 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_5</name>
        <label>Decision 5</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Remaining_Emails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowCounter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Warning_Email_to_Teams</targetReference>
            </connector>
            <label>Remaining Emails</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_Zone</name>
        <label>Same Zone ?</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country_In__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Country_Out__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignOwnersEmail</targetReference>
            </connector>
            <label>No - Send Warning Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Change</name>
        <label>Status Change</label>
        <locationX>1271</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_WTP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_New_Email_DCO</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>New WTP</label>
        </rules>
        <rules>
            <name>ClosedCompleted_WTP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Resolution_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Closed Completed WTP</label>
        </rules>
        <rules>
            <name>Closed_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Resolution_Date</targetReference>
            </connector>
            <label>Closed - Rejected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateRangeOrDate</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK( TEXT({!$Record.Date__c}) ) ,
{!DateRange}, 
TEXT({!$Record.Date__c}) )</expression>
    </formulas>
    <formulas>
        <name>DetailLink</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Api.Partner_Server_URL_520}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_520} ))&amp;{!$Record.Id}</expression>
    </formulas>
    <interviewLabel>FL_AfterSave WTP Reallocation Email Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL_AfterSave WTP Reallocation Email Alerts</label>
    <loops>
        <name>LoopAssignEmails1</name>
        <label>LoopAssignEmails1</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <collectionReference>GetRecipientsForTeams1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignEmails1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_5</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopAssignEmails2</name>
        <label>LoopAssignEmails2</label>
        <locationX>1194</locationX>
        <locationY>647</locationY>
        <collectionReference>GetRecipients</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignEmails</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>EmailDCOandOwner</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopAssignEmails3</name>
        <label>LoopAssignEmails3</label>
        <locationX>1854</locationX>
        <locationY>647</locationY>
        <collectionReference>Copy_2_of_GetRecipients</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignEmailsRejection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_2_of_EmailDCOandOwner</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_2_of_GetRecipients</name>
        <label>Copy 2 of GetRecipients</label>
        <locationX>1854</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAssignEmails3</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND (3 OR 4 OR 5) AND 6</filterLogic>
        <filters>
            <field>Tech_text_All_teams__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Company_To_Reallocate_To__r.Team__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tech_text_All_teams__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Country_Out__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_Role_Text__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>CRM</stringValue>
            </value>
        </filters>
        <filters>
            <field>TECH_Role_Text__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Head of Country</stringValue>
            </value>
        </filters>
        <filters>
            <field>TECH_Role_Text__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Head of Countries</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecipients</name>
        <label>GetRecipients</label>
        <locationX>1194</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAssignEmails2</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND (3 OR 4 OR 5) AND 6</filterLogic>
        <filters>
            <field>Tech_text_All_teams__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Company_To_Reallocate_To__r.Team__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tech_text_All_teams__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Country_Out__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_Role_Text__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>CRM</stringValue>
            </value>
        </filters>
        <filters>
            <field>TECH_Role_Text__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Head of Country</stringValue>
            </value>
        </filters>
        <filters>
            <field>TECH_Role_Text__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Head of Countries</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecipientsForTeams1</name>
        <label>GetRecipientsForTeams1</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAssignEmails1</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND (3 OR 4 OR 5) AND 6</filterLogic>
        <filters>
            <field>Tech_text_All_teams__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Company_To_Reallocate_To__r.Team__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tech_text_All_teams__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Country_Out__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_Role_Text__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>CRM</stringValue>
            </value>
        </filters>
        <filters>
            <field>TECH_Role_Text__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Head of Country</stringValue>
            </value>
        </filters>
        <filters>
            <field>TECH_Role_Text__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Head of Countries</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Resolution_Date</name>
        <label>Update Resolution Date</label>
        <locationX>1854</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Copy_2_of_GetRecipients</targetReference>
        </connector>
        <inputAssignments>
            <field>Resolution_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Resolution_Date</name>
        <label>Update Resolution Date</label>
        <locationX>1194</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>GetRecipients</targetReference>
        </connector>
        <inputAssignments>
            <field>Resolution_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1145</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AUM/Flow Reallocation Request</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>ClosedConfirmedWTPEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear all,&lt;/p&gt;&lt;p&gt;The following WTP Reallocation Request has been closed:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Subject&lt;/strong&gt; : {!$Record.Subject}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Further Details&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; :  &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Further_Details__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Strategy &lt;/strong&gt;: {!$Record.Carmignac_Strategy__r.Product_Name__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Share Class :&lt;/strong&gt; {!$Record.Share_Class__r.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Country/Company to reallocate from&lt;/strong&gt; : {!$Record.Country_Out__c} - {!$Record.Company_to_reallocate_from__r.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Country/Company to reallocate to&lt;/strong&gt; : &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; {!$Record.Country_In__c}&lt;/span&gt; - {!$Record.Company_To_Reallocate_To__r.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Final Amount Reallocated &lt;/strong&gt;: {!$Record.Final_Amount_Reallocated__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Resolution Date&lt;/strong&gt; : {!$Record.Resolution_Date__c}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Assigned to&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; : {!$Record.Assigned_To__r.FirstName} {!$Record.Assigned_To__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;To see full details, click &lt;a href=&quot;{!DetailLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Kind regards,&lt;/p&gt;&lt;p&gt;Salesforce Support&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ClosedRejectedEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear all,&lt;/p&gt;&lt;p&gt;The following WTP Reallocation Request has been closed and rejected:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Subject&lt;/strong&gt; : {!$Record.Subject}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Further Details&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; :  &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Further_Details__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Strategy &lt;/strong&gt;: {!$Record.Carmignac_Strategy__r.Product_Name__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Share Class :&lt;/strong&gt; {!$Record.Share_Class__r.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Country/Company to reallocate from&lt;/strong&gt; : {!$Record.Country_Out__c} - {!$Record.Company_to_reallocate_from__r.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Country/Company to reallocate to&lt;/strong&gt; : &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!$Record.Country_In__c}&lt;/span&gt; - {!$Record.Company_To_Reallocate_To__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Reason for rejection : {!$Record.Reason_for_reject__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To see full details, click &lt;a href=&quot;{!DetailLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Kind regards,&lt;/p&gt;&lt;p&gt;Salesforce Support&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>DateRange</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Estimated_Date_Begining__c} to {!$Record.Estimated_Date_End__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Informationemailsubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Reallocation from {!$Record.Country_Out__c} to {!$Record.Country_In__c}</text>
    </textTemplates>
    <textTemplates>
        <name>NewWTPEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear all,&lt;/p&gt;&lt;p&gt;A new WTP Reallocation Request has been created :&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Subject&lt;/strong&gt; : {!$Record.Subject}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Further Details&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; : &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Further_Details__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Strategy&lt;/strong&gt;: {!$Record.Carmignac_Strategy__r.Product_Name__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Share Class :&lt;/strong&gt; {!$Record.Share_Class__r.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Country/Company to reallocate from&lt;/strong&gt; : {!$Record.Country_Out__c} - {!$Record.Company_to_reallocate_from__r.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Country/Company to reallocate to&lt;/strong&gt; : &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!$Record.Country_In__c}&lt;/span&gt; - {!$Record.Company_To_Reallocate_To__r.Name}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Amount_Shares__c}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; : &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Amount_or_Number_of_Shares__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Date/Range &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;: {!DateRangeOrDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;To see full details, click &lt;a href=&quot;{!DetailLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Kind regards,&lt;/p&gt;&lt;p&gt;Salesforce Support&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>WarningReallocationEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear all,&lt;/p&gt;&lt;p&gt;Please be aware that a reallocation request has been opened for with the following details :&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Country/Company to reallocate from&lt;/strong&gt; : {!$Record.Country_Out__c} - {!$Record.Company_to_reallocate_from__r.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Country/Company to reallocate to&lt;/strong&gt; : &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!$Record.Country_In__c}&lt;/span&gt; - {!$Record.Company_To_Reallocate_To__r.Name}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Amount_Shares__c} :&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; {!$Record.Amount_or_Number_of_Shares__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;See the full record detail &lt;/span&gt;&lt;a href=&quot;{!DetailLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;strong&gt;here&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;For any questions or comments on this reallocation request, please get in touch with DCO team, otherwise the request will be executed within the next 5 business days.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Kind regards, &lt;/span&gt;&lt;/p&gt;&lt;p&gt;Salesforce Support&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EmailRecipientsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailsVariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmptyCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>flowCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OwnersEmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StoreGetResults</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
