force-app/main/default/flows/FL_BeforeUpdate_DI_ActionField.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Keep_the_old_value</name>
        <label>Keep the old value</label>
        <locationX>176</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>$Record.Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Action__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>When_should_Note_Ecrase</name>
        <label>When should Note Ecrase</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Action_Is_already_VideoWatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Video Watch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Keep_the_old_value</targetReference>
            </connector>
            <label>Action Is already VideoWatch</label>
        </rules>
        <rules>
            <name>Action_Is_already_VideoView</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Video View</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Action__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Video Watch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Keep_the_old_value</targetReference>
            </connector>
            <label>Action Is already VideoView</label>
        </rules>
        <rules>
            <name>Action_Is_already_Click</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Click</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Action__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Video View</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Action__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Video Watch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Keep_the_old_value</targetReference>
            </connector>
            <label>Action Is already Click</label>
        </rules>
        <rules>
            <name>Action_Is_already_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Action__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Video Watch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Action__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Video View</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Action__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Click</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Keep_the_old_value</targetReference>
            </connector>
            <label>Action Is already Open</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FL_BeforeUpdate_DI_ActionField {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL_BeforeUpdate_DI_ActionField</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>When_should_Note_Ecrase</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Action__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account Engagement</stringValue>
            </value>
        </filters>
        <filters>
            <field>Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mandrill</stringValue>
            </value>
        </filters>
        <object>Digital_Interaction__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
