force-app/main/default/flows/FL_Digital_Interation_Details_Unsubscribe_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_General_Opt_Out_Email</name>
        <label>Send General Opt Out Email</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>UserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.NoReplayWideAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>GeneralOptOutEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>GeneralOptOutEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Newsletter_Opt_Out_Email</name>
        <label>Send Newsletter Opt Out Email</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>UserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.NoReplayWideAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>NewsletterOptOutEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NewsletterNewsletterOptOutEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Sent_Invitation_Opt_Out_Email</name>
        <label>Sent Invitation Opt Out Email</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>UserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.NoReplayWideAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>NewsletterOptOutEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>InvitationOptOutEmailSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Changed_by_Client</name>
        <label>Changed by Client</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Not changed by Client</defaultConnectorLabel>
        <rules>
            <name>General_Opt_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B2BMA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_General_Opt_Out_Email</targetReference>
            </connector>
            <label>General Opt Out</label>
        </rules>
        <rules>
            <name>Newsletter_Opt_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B2BMA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Newsletter_Opt_Out_Email</targetReference>
            </connector>
            <label>Newsletter Opt Out</label>
        </rules>
        <rules>
            <name>Event_Opt_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B2BMA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Invitation_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sent_Invitation_Opt_Out_Email</targetReference>
            </connector>
            <label>Event Opt Out</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>RecordURL</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Api.Enterprise_Server_URL_520}, FIND( &apos;/services&apos;, {!$Api.Enterprise_Server_URL_520} ))&amp;{!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>UserEmail</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner.Email}</expression>
    </formulas>
    <interviewLabel>FL Digital Interation Details Unsubscribe Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL After Save Email Alert When Contact is Opt Out</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Changed_by_Client</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</filterLogic>
        <filters>
            <field>HasOptedOutOfEmail</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HasOptedOutOfEmail</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Invitation_Opt_Out__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Invitation_Opt_Out__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Newsletter_Opt_Out__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Newsletter_Opt_Out__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>GeneralOptOutEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.ContactOwner__c},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black;&quot;&gt;We have received a &lt;/span&gt;&lt;strong style=&quot;font-size: 10.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black;&quot;&gt;general opt-out request&lt;/strong&gt;&lt;span style=&quot;font-size: 10.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black;&quot;&gt; from &lt;/span&gt;&lt;a href=&quot;{!RecordURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 10.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black;&quot;&gt;{!$Record.FirstName} {!$Record.LastName}&lt;/a&gt;&lt;span style=&quot;font-size: 10.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black;&quot;&gt; (email address: {!$Record.Email}) at {!$Flow.CurrentDateTime} on &lt;/span&gt;{!$Record.Unsubscribe_Campaign__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black;&quot;&gt;This means that &lt;/span&gt;&lt;strong style=&quot;font-size: 10.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black;&quot;&gt;we must no longer communicate with this individual&lt;/strong&gt;&lt;span style=&quot;font-size: 10.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black;&quot;&gt; via email, phone, or any other marketing communication channel, unless required for legal or contractual reasons.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black;&quot;&gt;Best regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black;&quot;&gt;Salesforce Support&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>GeneralOptOutEmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>📢 General Opt-Out Notification for {!$Record.FirstName} {!$Record.LastName}</text>
    </textTemplates>
    <textTemplates>
        <name>InvitationOptOutEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10.5pt;&quot;&gt;Dear &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.ContactOwner__c},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10.5pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10.5pt;&quot;&gt;We have received an &lt;/span&gt;&lt;strong style=&quot;color: black; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10.5pt;&quot;&gt;Invitation opt-out request&lt;/strong&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10.5pt;&quot;&gt; from &lt;/span&gt;&lt;a href=&quot;{!RecordURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: black; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10.5pt;&quot;&gt;{!$Record.FirstName} {!$Record.LastName}&lt;/a&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10.5pt;&quot;&gt; (email address: {!$Record.Email}) at {!$Flow.CurrentDateTime}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10.5pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10.5pt;&quot;&gt;This has a direct implication on their receipt of our future event invitations, as they will no longer receive these communications from us.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10.5pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10.5pt;&quot;&gt;We recommend you take note of this unsubscription during your next interactions with&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt; {!$Record.FirstName} {!$Record.LastName}&lt;/span&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10.5pt;&quot;&gt;, to &lt;/span&gt;&lt;strong style=&quot;color: black; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10.5pt;&quot;&gt;ensure that our communication remains aligned with their preferences&lt;/strong&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10.5pt;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10.5pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10.5pt;&quot;&gt;Best regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10.5pt;&quot;&gt;Salesforce Support &lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>InvitationOptOutEmailSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>📢 Invitation Opt-Out Notification for {!$Record.FirstName} {!$Record.LastName}</text>
    </textTemplates>
    <textTemplates>
        <name>NewsletterNewsletterOptOutEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black;&quot;&gt;Dear &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;{!$Record.ContactOwner__c}&lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black;&quot;&gt;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black;&quot;&gt;We have received a &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black;&quot;&gt;Newsletter opt-out request&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black;&quot;&gt; from &lt;/span&gt;&lt;a href=&quot; {!RecordURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black;&quot;&gt;{!$Record.FirstName} {!$Record.LastName}&lt;/a&gt;&lt;span style=&quot;font-size: 12px; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black;&quot;&gt; (email address:{!$Record.Email}) at {!$Flow.CurrentDateTime}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black;&quot;&gt;This unsubscription might have some consequences on our communication with this client, particularly regarding the distribution of important information, updates on our products or services, and any special offers we might have.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black;&quot;&gt;We recommend you take note of this unsubscription during your next interactions with &lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;a href=&quot;https://carmignac-crm--uatmycrm.sandbox.lightning.force.com/builder_platform_interaction/%7B!RecordURL%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.FirstName} {!$Record.LastName}&lt;/a&gt;&lt;span style=&quot;font-size: 12px; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black;&quot;&gt;, to &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black;&quot;&gt;ensure that our communication remains aligned with their preferences&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black;&quot;&gt;Best regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black;&quot;&gt;Salesforce Support&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NewsletterOptOutEmailSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>📢 Newsletter Opt-Out Notification for {!$Record.FirstName} {!$Record.LastName}</text>
    </textTemplates>
</Flow>
