force-app/main/default/flows/FL_NEW_After_save_Event_Campaign_Create_Digital_Interaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign</name>
        <label>Assign varloop</label>
        <locationX>842</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>VarLoop_CampaignMember_ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Paris_OR_London_Time_AND_NOT_CSN.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLoop_CampaignMember_LeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Paris_OR_London_Time_AND_NOT_CSN.LeadId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLoop_CampaignMember_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Paris_OR_London_Time_AND_NOT_CSN.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLoop_CampaignMember_Attendance_Duration1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Paris_OR_London_Time_AND_NOT_CSN.Attendance_duration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLoop_CampaignMember_Attendance_Rate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Paris_OR_London_Time_AND_NOT_CSN.Attendance_rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLoop_CampaignMember_IP_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Paris_OR_London_Time_AND_NOT_CSN.IP_City__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Assign_value_fields_digital_Interaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DID_Fields</name>
        <label>Assign DID Fields</label>
        <locationX>842</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>DIDRecord.Digital_Interaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_DI_V3.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DIDRecord.Details_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Start_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DIDRecord.Time_Spent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_DI_V3.Time_Spent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_DID_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DID_values</name>
        <label>Assign DID values</label>
        <locationX>842</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>DIDCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DIDRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_DI_V3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Digital_I_to_VarCollDigi_I</name>
        <label>Assign Digital I. to VarCollDigi.I.</label>
        <locationX>138</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>VarCollDigi_I</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarDigitalInteraction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Paris_Or_London_Time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_fields_digital_Interaction</name>
        <label>Assign value fields digital Interaction</label>
        <locationX>138</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>VarDigitalInteraction.Date_of_Interaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Start_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDigitalInteraction.Contact_lu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLoop_CampaignMember_ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDigitalInteraction.Lead_lu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLoop_CampaignMember_LeadId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDigitalInteraction.Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLoop_CampaignMember_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDigitalInteraction.Engagement_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Webinars</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDigitalInteraction.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Livestorm</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDigitalInteraction.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDigitalInteraction.Attendance_Duration_Min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLoop_CampaignMember_Attendance_Duration1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDigitalInteraction.attendance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLoop_CampaignMember_Attendance_Rate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDigitalInteraction.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLoop_CampaignMember_IP_City</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Digital_I_to_VarCollDigi_I</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_DID_Fields</name>
        <label>Assign DID Fields</label>
        <locationX>138</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>DIDRecord.Digital_Interaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_DI.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DIDRecord.Details_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Start_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DIDRecord.Time_Spent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_DI_V3.Time_Spent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_DID_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_DID_values</name>
        <label>Assign DID values</label>
        <locationX>138</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>DIDCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DIDRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_DI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Digital_I_to_VarCollDigi_I</name>
        <label>Assign Digital I. to VarCollDigi.I.</label>
        <locationX>490</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>VarCollDigi_I</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarDigitalInteraction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Paris_AND_London_Time_OR_CSN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_value_fields_digital_Interaction</name>
        <label>Assign value fields digital Interaction</label>
        <locationX>490</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>VarDigitalInteraction.Date_of_Interaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Start_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDigitalInteraction.Contact_lu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLoop_CampaignMember_ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDigitalInteraction.Lead_lu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLoop_CampaignMember_LeadId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDigitalInteraction.Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLoop_CampaignMember_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDigitalInteraction.Engagement_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Webinars</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDigitalInteraction.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CSN</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDigitalInteraction.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDigitalInteraction.Attendance_Duration_Min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLoop_CampaignMember_Attendance_Duration1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDigitalInteraction.attendance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLoop_CampaignMember_Attendance_Rate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDigitalInteraction.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLoop_CampaignMember_IP_City</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Digital_I_to_VarCollDigi_I</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_varloop</name>
        <label>Assign varloop</label>
        <locationX>490</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>VarLoop_CampaignMember_ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Paris_AND_London_Time_OR_CSN.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLoop_CampaignMember_LeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Paris_AND_London_Time_OR_CSN.LeadId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLoop_CampaignMember_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Paris_AND_London_Time_OR_CSN.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLoop_CampaignMember_Attendance_Duration1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Paris_AND_London_Time_OR_CSN.Attendance_duration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLoop_CampaignMember_Attendance_Rate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Paris_AND_London_Time_OR_CSN.Attendance_rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLoop_CampaignMember_IP_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Paris_AND_London_Time_OR_CSN.IP_City__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_value_fields_digital_Interaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_DID_Fields</name>
        <label>Assign DID Fields</label>
        <locationX>490</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>DIDRecord.Digital_Interaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_DI_V2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DIDRecord.Details_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Start_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DIDRecord.Time_Spent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_DI_V3.Time_Spent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Assign_DID_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_DID_values</name>
        <label>Assign DID values</label>
        <locationX>490</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>DIDCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DIDRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_DI_V2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Digital_I_to_VarCollDigi_I</name>
        <label>Assign Digital I. to VarCollDigi.I.</label>
        <locationX>842</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>VarCollDigi_I</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarDigitalInteraction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Paris_OR_London_Time_AND_NOT_CSN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_value_fields_digital_Interaction</name>
        <label>Assign value fields digital Interaction</label>
        <locationX>842</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>VarDigitalInteraction.Date_of_Interaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Start_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDigitalInteraction.Contact_lu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLoop_CampaignMember_ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDigitalInteraction.Lead_lu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLoop_CampaignMember_LeadId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDigitalInteraction.Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLoop_CampaignMember_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDigitalInteraction.Engagement_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Events</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDigitalInteraction.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cvent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDigitalInteraction.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDigitalInteraction.Attendance_Duration_Min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLoop_CampaignMember_Attendance_Duration1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDigitalInteraction.attendance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLoop_CampaignMember_Attendance_Rate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDigitalInteraction.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLoop_CampaignMember_IP_City</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Assign_Digital_I_to_VarCollDigi_I</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_varloop</name>
        <label>Assign varloop</label>
        <locationX>138</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>VarLoop_CampaignMember_ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Paris_Or_London_Time.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLoop_CampaignMember_LeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Paris_Or_London_Time.LeadId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLoop_CampaignMember_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Paris_Or_London_Time.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLoop_CampaignMember_Attendance_Duration1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Paris_Or_London_Time.Attendance_duration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLoop_CampaignMember_Attendance_Rate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Paris_Or_London_Time.Attendance_rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLoop_CampaignMember_IP_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Paris_Or_London_Time.IP_City__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_value_fields_digital_Interaction</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Record_type_event</name>
        <label>Record type event</label>
        <locationX>908</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Event_and_Meeting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_attended_campaign_members</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Value_City_c_et_campaignName</name>
        <label>Value City__c et campaignName</label>
        <locationX>534</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>City_c_Digital_ParisTime_ou_Digital_LondonTime</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.City__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Digital_ParisTime</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.City__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Digital_LondonTime</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Paris_Or_London_Time</targetReference>
            </connector>
            <label>City__c= &apos;Digital_ParisTime&apos; ou &apos;Digital_LondonTime&apos;</label>
        </rules>
        <rules>
            <name>City_c_Digital_ParisTime_ou_Digital_LondonTime_et_CampaignName_contains_CSN</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.City__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Digital_ParisTime</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.City__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Digital_LondonTime</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Form_Name_CSN</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Paris_AND_London_Time_OR_CSN</targetReference>
            </connector>
            <label>City__c &lt;&gt; &apos;Digital_ParisTime&apos; ou &apos;Digital_LondonTime&apos; et CampaignName contains &apos;CSN&apos;</label>
        </rules>
        <rules>
            <name>City_c_Digital_ParisTime_ou_Digital_LondonTime_et_CampaignName_not_contain_CSN</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.City__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Digital_LondonTime</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.City__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Digital_ParisTime</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Form_Name_CSN</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Paris_OR_London_Time_AND_NOT_CSN</targetReference>
            </connector>
            <label>City__c &lt;&gt; &apos;Digital_ParisTime&apos; ou &apos;Digital_LondonTime&apos; et CampaignName not contains &apos;CSN&apos;</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DetailsDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>DIDName</name>
        <dataType>String</dataType>
        <expression>{!VarDigitalInteraction.Contact_lu__r.First_Last_name__c} + &quot;Digital Interaction Details&quot; + TEXT(TODAY())</expression>
    </formulas>
    <formulas>
        <name>Form_Name_CSN</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!$Record.Name}, &apos;CSN&apos;)=true, &apos;true&apos;, &apos;false&apos;)</expression>
    </formulas>
    <interviewLabel>FL_NEW_After_save_Event_Campaign_Create_Digital_Interaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL_NEW_After_save_Event_Campaign_Create_Digital_Interaction</label>
    <loops>
        <name>Loop_DI</name>
        <label>Loop DI</label>
        <locationX>50</locationX>
        <locationY>1224</locationY>
        <collectionReference>VarCollDigi_I</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Assign_DID_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_DID</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_DI_V2</name>
        <label>Loop DI V2</label>
        <locationX>402</locationX>
        <locationY>1224</locationY>
        <collectionReference>VarCollDigi_I</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_2_of_Assign_DID_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_DID_v2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_DI_V3</name>
        <label>Loop DI V3</label>
        <locationX>754</locationX>
        <locationY>1224</locationY>
        <collectionReference>VarCollDigi_I</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_DID_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_DID_v3</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Paris_Or_London_Time</name>
        <label>Loop Paris Or London Time</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <collectionReference>VarCollCampaignMembersId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_2_of_Assign_varloop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Digital_Interaction_v1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Paris_AND_London_Time_OR_CSN</name>
        <label>Paris AND London Time OR CSN</label>
        <locationX>402</locationX>
        <locationY>600</locationY>
        <collectionReference>VarCollCampaignMembersId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Assign_varloop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Create_Digital_Interaction_v1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Paris_OR_London_Time_AND_NOT_CSN</name>
        <label>Paris OR London Time AND NOT CSN</label>
        <locationX>754</locationX>
        <locationY>600</locationY>
        <collectionReference>VarCollCampaignMembersId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Create_Digital_Interaction_v2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Digital_Interaction_v1</name>
        <label>Create Digital Interaction v2</label>
        <locationX>402</locationX>
        <locationY>1116</locationY>
        <connector>
            <targetReference>Loop_DI_V2</targetReference>
        </connector>
        <inputReference>VarCollDigi_I</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Digital_Interaction_v2</name>
        <label>Create Digital Interaction v3</label>
        <locationX>754</locationX>
        <locationY>1116</locationY>
        <connector>
            <targetReference>Loop_DI_V3</targetReference>
        </connector>
        <inputReference>VarCollDigi_I</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_DID</name>
        <label>Create DID</label>
        <locationX>50</locationX>
        <locationY>1632</locationY>
        <inputReference>DIDCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_DID_v2</name>
        <label>Create DID v2</label>
        <locationX>402</locationX>
        <locationY>1632</locationY>
        <inputReference>DIDCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_DID_v3</name>
        <label>Create DID v3</label>
        <locationX>754</locationX>
        <locationY>1632</locationY>
        <inputReference>DIDCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Digital_Interaction_v1</name>
        <label>Create Digital Interaction v1</label>
        <locationX>50</locationX>
        <locationY>1116</locationY>
        <connector>
            <targetReference>Loop_DI</targetReference>
        </connector>
        <inputReference>VarCollDigi_I</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_attended_campaign_members</name>
        <label>Get attended campaign members</label>
        <locationX>534</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Value_City_c_et_campaignName</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputReference>VarCollCampaignMembersId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>CampaignId</queriedFields>
        <queriedFields>LeadId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Attendance_rate__c</queriedFields>
        <queriedFields>Attendance_duration__c</queriedFields>
        <queriedFields>IP_City__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>177</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Start_Date_Time__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateTimeValue>2022-12-31T23:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <object>Campaign</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X4_days_later</name>
            <connector>
                <targetReference>Record_type_event</targetReference>
            </connector>
            <label>4 days later</label>
            <maxBatchSize>50</maxBatchSize>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>End_Date_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Digital_Interaction__c</objectType>
    </variables>
    <variables>
        <name>DIDCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Digital_Interaction_Details__c</objectType>
    </variables>
    <variables>
        <name>DIDRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Digital_Interaction_Details__c</objectType>
    </variables>
    <variables>
        <name>VarColl_CampaignMembersId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>VarCollCampaignMembersId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>VarCollDigi_I</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Digital_Interaction__c</objectType>
    </variables>
    <variables>
        <name>VarCollDigital_DigiParis_DiriLondon</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Digital_Interaction__c</objectType>
    </variables>
    <variables>
        <name>VarDigitalInteraction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Digital_Interaction__c</objectType>
    </variables>
    <variables>
        <name>VarLoop_CampaignMember_Attendance_Duration1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VarLoop_CampaignMember_Attendance_Rate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VarLoop_CampaignMember_ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarLoop_CampaignMember_IP_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarLoop_CampaignMember_LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarLoop_CampaignMember_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VartxtEmptyvalue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
