force-app/main/default/flows/FL_Screen_BenchmarkComposite.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>tempBenchmark.RebalancingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RebalancingFrequency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempBenchmark.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Benchmark_Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempBenchmark.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DescriptionField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempBenchmark.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Benchmark</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempBenchmark.TECH_BenchmarkDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DescriptionFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmplyVAR</name>
        <label>EmplyVAR</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>tempBenchmark</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>SC01_INPUTS</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Annually</name>
        <choiceText>Annually</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Annually</stringValue>
        </value>
    </choices>
    <choices>
        <name>Daily</name>
        <choiceText>Daily</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Daily</stringValue>
        </value>
    </choices>
    <choices>
        <name>Monthly</name>
        <choiceText>Monthly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monthly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Quarterly</name>
        <choiceText>Quarterly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quarterly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Weekly</name>
        <choiceText>Weekly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weekly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yearly</name>
        <choiceText>Yearly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yearly</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Create_Benchmark_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>= 100%</defaultConnectorLabel>
        <rules>
            <name>X100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WeightSum</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>&lt;&gt; 100%</label>
        </rules>
    </decisions>
    <description>This Screen Flow is used by the Investment Performance team to create composite benchmarks.
It guides the user step-by-step to select components, assign weights, and generate a new composite benchmark record.</description>
    <environments>Default</environments>
    <formulas>
        <name>Comp3</name>
        <dataType>String</dataType>
        <expression>TEXT({!Weight3})&amp;&apos;%&apos; &amp;&quot; &quot;&amp; {!SearchIndexrep3.recordName}</expression>
    </formulas>
    <formulas>
        <name>Comp4</name>
        <dataType>String</dataType>
        <expression>TEXT({!Weight4})&amp;&apos;%&apos; &amp;&quot; &quot;&amp; {!SearchIndexrep4.recordName}</expression>
    </formulas>
    <formulas>
        <name>Comp5</name>
        <dataType>String</dataType>
        <expression>TEXT({!Weight5})&amp;&apos;%&apos; &amp;&quot; &quot;&amp; {!SearchIndexrep5.recordName}</expression>
    </formulas>
    <formulas>
        <name>Comp6</name>
        <dataType>String</dataType>
        <expression>TEXT({!Weight6})&amp;&apos;%&apos; &amp;&quot; &quot;&amp; {!SearchIndexrep6.recordName}</expression>
    </formulas>
    <formulas>
        <name>Compo1</name>
        <dataType>String</dataType>
        <expression>TEXT({!Weight1})&amp;&apos;%&apos; &amp;&quot; &quot;&amp; {!SearchIndexrep.recordName}</expression>
    </formulas>
    <formulas>
        <name>Compo2</name>
        <dataType>String</dataType>
        <expression>TEXT({!Weight2})&amp;&apos;%&apos; &amp;&quot; &quot;&amp; {!SearchIndexrep2.recordName}</expression>
    </formulas>
    <formulas>
        <description>index recordid + weight</description>
        <name>DescriptionFormula</name>
        <dataType>String</dataType>
        <expression>IF(
AND(NOT( ISBLANK( {!SearchIndexrep2.recordId} )),ISBLANK( {!SearchIndexrep3.recordId})) , ( {!Compo1}&amp;&apos; + &apos;&amp;{!Compo2} ),
IF(
AND( NOT( ISBLANK( {!SearchIndexrep3.recordId})), ISBLANK( {!SearchIndexrep4.recordId}) ), ( {!Compo1}&amp;&apos; + &apos;&amp;{!Compo2}&amp;&quot; + &quot;&amp;{!Comp3} ) ,
IF(
AND( NOT ( ISBLANK( {!SearchIndexrep4.recordId})), ISBLANK( {!SearchIndexrep5.recordId} ) ), ( {!Compo1}&amp;&apos; + &apos;&amp;{!Compo2}&amp;&quot; + &quot;&amp;{!Comp3}&amp;&apos; + &apos;&amp;{!Comp4} ), 
IF( 
AND(NOT (ISBLANK( {!SearchIndexrep5.recordId} )), ISBLANK( {!SearchIndexrep6.recordId} )), ({!Compo1}&amp;&apos; + &apos;&amp;{!Compo2}&amp;&quot; + &quot;&amp;{!Comp3}&amp;&apos; + &apos;&amp;{!Comp4}&amp;&apos; + &apos;&amp;{!Comp5} ), 
IF(
NOT (ISBLANK( {!SearchIndexrep6.recordId} )), ( {!Compo1}&amp;&apos; + &apos;&amp;{!Compo2}&amp;&quot; + &quot;&amp;{!Comp3}&amp;&quot; + &quot;&amp;{!Comp4}&amp;&quot; + &quot;&amp;{!Comp5}&amp;&quot; + &quot;&amp;{!Comp6} ), 
({!Compo1})

)))))</expression>
    </formulas>
    <formulas>
        <name>WeightSum</name>
        <dataType>Number</dataType>
        <expression>IF(
AND(NOT( ISBLANK( {!Weight2} )),ISBLANK( {!Weight3} )) , ( {!Weight1}+{!Weight2} ),
IF(
AND( NOT( ISBLANK( {!Weight3} )), ISBLANK( {!Weight4} ) ), ( {!Weight1}+{!Weight2}+ {!Weight3} ) ,
IF(
AND( NOT ( ISBLANK({!Weight1}+{!Weight2} )), ISBLANK( {!Weight5}) ), ( {!Weight1}+{!Weight2}+ {!Weight3} +{!Weight4} ), 
IF( 
AND(NOT (ISBLANK({!Weight5} )), ISBLANK( {!Weight6} )), ({!Weight1}+{!Weight2}+ {!Weight3} +{!Weight4}+{!Weight5} ), 
IF(
NOT (ISBLANK( {!Weight6})), ( {!Weight1}+{!Weight2}+ {!Weight3} +{!Weight4}+{!Weight5}+{!Weight6} ), 
({!Weight1})

)))))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>FL_Screen_BenchmarkComposite {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PMT - Create Benchmark Composite</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Benchmark_Record</name>
        <label>Create Benchmark Record</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Link_to_Project</targetReference>
        </connector>
        <inputReference>tempBenchmark</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Link_to_Project</name>
        <label>Link to Project</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Benchmark__c</field>
            <value>
                <elementReference>tempBenchmark.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ProjectProductChild__c</object>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>EmplyVAR</targetReference>
        </connector>
        <fields>
            <name>Errormessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The sum of the provided Weights does not equal 100%, please try again.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Try Again</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC01_INPUTS</name>
        <label>SC01_INPUTS</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SC02BenchmarkName</targetReference>
        </connector>
        <fields>
            <name>Guidelines</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(218, 44, 44);&quot;&gt;﻿&lt;/strong&gt;&lt;strong&gt;Please compose your benchmark :&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Search the correct Index&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Assign the weight&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Provide the Start Date, End Date and Rebalancing Fraquency&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(224, 33, 33);&quot;&gt;Please note the sum of all weights must equal 100%.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>General_Information</name>
            <fieldText>General Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>General_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RebalancingFrequency</name>
                    <choiceReferences>Yearly</choiceReferences>
                    <choiceReferences>Quarterly</choiceReferences>
                    <choiceReferences>Monthly</choiceReferences>
                    <choiceReferences>Weekly</choiceReferences>
                    <choiceReferences>Daily</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Rebalancing Frequency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>DescriptionField</name>
                    <dataType>String</dataType>
                    <fieldText>Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Details</name>
            <fieldText>Benchmark Composition</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SearchIndexrep</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Benchmark_Id__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Bloomberg Ticker of the index</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Benchmark__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>SearchIndexrep2</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Benchmark_Id__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Bloomberg Ticker of the index</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Benchmark__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SearchIndexrep.recordId</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SearchIndexrep3</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Benchmark_Id__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Bloomberg Ticker of the index</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Benchmark__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SearchIndexrep2.recordId</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SearchIndexrep4</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Benchmark_Id__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Bloomberg Ticker of the index</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Benchmark__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SearchIndexrep3.recordId</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SearchIndexrep5</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Benchmark_Id__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Bloomberg Ticker of the index</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Benchmark__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SearchIndexrep4.recordId</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SearchIndexrep6</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Benchmark_Id__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Bloomberg Ticker of the index</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Benchmark__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SearchIndexrep5.recordId</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Weight1</name>
                    <dataType>Number</dataType>
                    <fieldText>Weight (in %)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Weight2</name>
                    <dataType>Number</dataType>
                    <fieldText>Weight (in %)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SearchIndexrep.recordId</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Weight3</name>
                    <dataType>Number</dataType>
                    <fieldText>Weight (in %)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SearchIndexrep2.recordId</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Weight4</name>
                    <dataType>Number</dataType>
                    <fieldText>Weight (in %)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SearchIndexrep3.recordId</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Weight5</name>
                    <dataType>Number</dataType>
                    <fieldText>Weight (in %)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SearchIndexrep4.recordId</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Weight6</name>
                    <dataType>Number</dataType>
                    <fieldText>Weight (in %)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SearchIndexrep5.recordId</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <helpText>&lt;p&gt;Please &lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC02BenchmarkName</name>
        <label>SC02BenchmarkName</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values</targetReference>
        </connector>
        <fields>
            <name>NameCheck</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please check the Benchmark Label and make corrections if required : &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Benchmark_Label</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DescriptionFormula</elementReference>
            </defaultValue>
            <fieldText>Benchmark Label</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;Success! The new benchmark was created : &lt;strong&gt;{!Benchmark_Label}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SC01_INPUTS</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BenchmarkLabelTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Weight1}%  {!SearchIndexrep.recordName} + {!Weight2}% {!SearchIndexrep2.recordName}
{!Weight3}% {!SearchIndexrep3.recordName}  + {!Weight4}% {!SearchIndexrep4.recordName} 
{!Weight5}% {!SearchIndexrep5.recordName}  + {!Weight6}% {!SearchIndexrep6.recordName}</text>
    </textTemplates>
    <textTemplates>
        <name>DescriptionText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!SearchIndexrep.recordId} - {!Weight1};{!SearchIndexrep2.recordId} - {!Weight2};{!SearchIndexrep3.recordId} - {!Weight3}{!SearchIndexrep4.recordId} - {!Weight4};{!SearchIndexrep5.recordId} - {!Weight5};{!SearchIndexrep6.recordId} - {!Weight6}</text>
    </textTemplates>
    <variables>
        <name>Benchmarktest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Benchmark__c</objectType>
    </variables>
    <variables>
        <description>{!SearchIndexrep.recordId} - {!Weight1};{!SearchIndexrep2.recordId} - {!Weight2};{!SearchIndexrep3.recordId} - {!Weight3}
{!SearchIndexrep4.recordId} - {!Weight4};{!SearchIndexrep5.recordId} - {!Weight5};{!SearchIndexrep6.recordId} - {!Weight6}</description>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IndexDecription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IndexDescription</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Benchmark__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SumofWeight</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>tempBenchmark</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Benchmark__c</objectType>
    </variables>
    <variables>
        <name>TestName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
