force-app/main/default/flows/FL_Screen_WTPContentFeedback.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>FL_Screen_WTPContentFeedback {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL_Screen_WTPContentFeedback</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Content_Feedback</name>
        <label>Get Content Feedback</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC01Ratings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRecord</name>
        <label>UpdateRecord</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Interest_of_topic__c</field>
            <value>
                <elementReference>InterestOfTopic.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Length__c</field>
            <value>
                <elementReference>Length.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overall_rating__c</field>
            <value>
                <elementReference>OverallRating.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sent_to_client__c</field>
            <value>
                <elementReference>SentToClient.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Technicity__c</field>
            <value>
                <elementReference>Technicity.value</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>SC01Ratings</name>
        <label>Feedback Details</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateRecord</targetReference>
        </connector>
        <fields>
            <name>OverallFeedbackRating</name>
            <fieldText>Overall Feedback Rating</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>OverallFeedbackRating_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OverallRating</name>
                    <extensionName>flowruntime:slider</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>max</name>
                        <value>
                            <numberValue>10.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>size</name>
                        <value>
                            <stringValue>small</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Overall Feedback Rating  (From low 1 to high 10)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Content_Feedback.Overall_rating__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Feedback_Details</name>
            <fieldText>Feedback Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Feedback_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InterestOfTopic</name>
                    <extensionName>flowruntime:slider</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>max</name>
                        <value>
                            <numberValue>10.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>size</name>
                        <value>
                            <stringValue>small</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Time to Market (From 1 not the right timing to perfect timing 10)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Content_Feedback.Interest_of_topic__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>SentToClient</name>
                    <extensionName>flowruntime:slider</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>max</name>
                        <value>
                            <numberValue>10.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>size</name>
                        <value>
                            <stringValue>small</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Editorial Qualities (From 1 poor to perfect quality 10))</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Content_Feedback.Sent_to_client__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Feedback_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Length</name>
                    <extensionName>flowruntime:slider</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>size</name>
                        <value>
                            <stringValue>small</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>max</name>
                        <value>
                            <numberValue>10.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Length  (1= too short, 5= adequate length, 10 = too long)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Content_Feedback.Length__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Technicity</name>
                    <extensionName>flowruntime:slider</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>max</name>
                        <value>
                            <numberValue>10.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>size</name>
                        <value>
                            <stringValue>small</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Technicity (1= too basic, 5=adequate, 10= too technical)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Content_Feedback.Technicity__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Content_Feedback</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WTPRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
