force-app/main/default/flows/FL_SendEmailForBenchmarkCreation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_SendInvestPerfEmail</name>
        <label>Copy 1 of SendInvestPerfEmail</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_1_of_Set_Email_Notification_Sent_to_true</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>EmailDistributionList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
        </inputParameters>
        <inputParameters>
            <name>bccRecipientAddressList</name>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.NoReplayWideAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>SendInvestPerfEmail</name>
        <label>SendInvestPerfEmail</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Set_Email_Notification_Sent_to_true</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>EmailDistributionList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
        </inputParameters>
        <inputParameters>
            <name>bccRecipientAddressList</name>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.NoReplayWideAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Check_if_Benchmark_Name_has_changed_since_last_Email</name>
        <label>Check if Benchmark Name has changed since last Email</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sent_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BenchmarkName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ProjectProductParent__r.PreviousBenchmarkName__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_SendInvestPerfEmail</targetReference>
            </connector>
            <label>Sent Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_already_sent</name>
        <label>Email already sent</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_if_Benchmark_Name_has_changed_since_last_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProjectProductParent__r.Email_Notification_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendInvestPerfEmail</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>This flow sends an email notification to the Investment Performance team when the field Benchmark Name is filled in during the Proposal phase of a PMT project.
The field must be completed by the Product Specialist (PS) team and their phase (Proposal) must be validated.
The objective is to prompt the Investment Performance team to create and/or associate the official benchmark to the corresponding PMT record.</description>
    <environments>Default</environments>
    <formulas>
        <name>BenchmarkLink</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Api.Partner_Server_URL_520}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_520} ))&amp;&apos;lightning/action/quick/ProjectProductChild__c.NewBenchmark?objectApiName&amp;context=RECORD_DETAIL&amp;recordId=&apos;&amp;{!$Record.Id}&amp;&apos;&amp;backgroundContext=%2Flightning%2Fr%2FProjectProductChild__c%2F&apos;&amp;{!$Record.Id}&amp;&apos;%2Fview%3Fc__team%3DPRPInvestmentPerf&apos;</expression>
    </formulas>
    <formulas>
        <name>EmailDistributionList</name>
        <dataType>String</dataType>
        <expression>&apos;performance.management@carmignac.com&apos;&amp;&apos;,&apos;&amp;&apos;sf_pmt@carmignac.com&apos;</expression>
    </formulas>
    <formulas>
        <description>IP + membres du projet PMT</description>
        <name>ListeDestinataireTEST</name>
        <dataType>String</dataType>
        <expression>&apos;nicolas.rossignol@carmignac.com&apos;&amp;&apos;,&apos;&amp;&apos;sf_pmt@carmignac.com&apos;</expression>
    </formulas>
    <formulas>
        <name>ParentRecordLink</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Api.Partner_Server_URL_520}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_520} ))&amp;{!$Record.ProjectProductParent__r.Id}</expression>
    </formulas>
    <interviewLabel>FL_SendEmailForBenchmarkCreation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PMT - Email Notification - Benchmark Creation Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Set_Email_Notification_Sent_to_true</name>
        <label>Copy 1 of Set Email Notification Sent to true</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ProjectProductParent__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_Notification_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreviousBenchmarkName__c</field>
            <value>
                <elementReference>$Record.BenchmarkName__c</elementReference>
            </value>
        </inputAssignments>
        <object>ProjectProduct__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Email_Notification_Sent_to_true</name>
        <label>Set Email Notification Sent to true</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ProjectProductParent__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_Notification_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreviousBenchmarkName__c</field>
            <value>
                <elementReference>$Record.BenchmarkName__c</elementReference>
            </value>
        </inputAssignments>
        <object>ProjectProduct__c</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Email_already_sent</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HasBenchmark__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>True</stringValue>
            </value>
        </filters>
        <filters>
            <field>BenchmarkName__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>TECH_TeamValidation__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>ProductStrategy</stringValue>
            </value>
        </filters>
        <filters>
            <field>TECH_Childtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DesignAndProposal</stringValue>
            </value>
        </filters>
        <filters>
            <field>TECH_ProjectRecordType__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ShareclassCreation</stringValue>
            </value>
        </filters>
        <object>ProjectProductChild__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Hello Investment Performance Team,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;As part of the project &lt;strong&gt;{!$Record.ProjectProductParent__r.Name}&lt;/strong&gt;, a Benchmark must now be linked in Salesforce to complete the &lt;strong&gt;SetUp phase&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;The required Benchmark name defined by Product Strategy is:&amp;nbsp;&lt;strong&gt;&amp;nbsp;{!$Record.ProjectProductParent__r.BenchmarkName__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Please follow the steps below:&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Open the project here: &lt;a href=&quot;{!ParentRecordLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Access the project in Salesforce&lt;/a&gt;&lt;/li&gt;&lt;li&gt;In the &lt;strong&gt;SetUp&lt;/strong&gt; phase, select the Benchmark using the name provided.&lt;/li&gt;&lt;li&gt;If the Benchmark does not exist yet, please create it first using the following &lt;a href=&quot;{!BenchmarkLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;link&lt;/strong&gt;&lt;/a&gt;&lt;strong&gt;.&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;The benchmark will be automatically linked to the project.&lt;/li&gt;&lt;li&gt;Once the Benchmark is linked to the project, make sure to &lt;strong&gt;validate the SetUp phase&lt;/strong&gt;.&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;Thank you for your support,&lt;/p&gt;&lt;p&gt;The Product Strategy team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>PMT - Benchmark Needed for Product Project {!$Record.ProjectProductParent__r.Name}</text>
    </textTemplates>
</Flow>
