force-app/main/default/flows/KYDDueDiligenceOversightReviewReminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmail_0</name>
        <label>Send Email</label>
        <locationX>264</locationX>
        <locationY>516</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Over_KYD</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Over_KYD.Agreement__r.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <constants>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>KYD Due Diligence Oversight Review Reminder</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <formulas>
        <name>NextThreeMonths</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(),3)</expression>
    </formulas>
    <interviewLabel>KYD Due Diligence Oversight Review Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>KYD Due Diligence Oversight Review Reminder</label>
    <loops>
        <name>Loop_Over_KYD</name>
        <label>Loop Over KYD</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>Get_KYD_Due_Diligence_Oversight</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SendEmail_0</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_KYD_Due_Diligence_Oversight</name>
        <label>Get KYD Due Diligence Oversight</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_KYD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Next_Review_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>NextThreeMonths</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>KYD_Due_Diligence_Oversight__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_KYD_Due_Diligence_Oversight</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Next_Review_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>KYD_Due_Diligence_Oversight__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-07-27</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>EmailTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The KYD Due Diligence Oversight {!Loop_Over_KYD.Name} has less than 3 remaining months to it&apos;s review date.</text>
    </textTemplates>
</Flow>
