force-app/main/default/flows/Meeting_Notes_data_collection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Meeting_notes</name>
        <label>Assign Meeting notes</label>
        <locationX>396</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>MeetingNotesData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SummaryOutput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientInterestCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Break_if_more_than_80</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Break_if_more_than_80</name>
        <label>Break if more than 80</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_over_clis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Break</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClientInterestCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>80.0</numberValue>
                </rightValue>
            </conditions>
            <label>Break</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Meeting Notes data collector {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Meeting Notes data Collection</label>
    <loops>
        <name>Loop_over_clis</name>
        <label>Loop over clis</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Client_Interests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Meeting_notes</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Client_Interests</name>
        <label>Get Client Interests</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_clis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ClientInterest__c</object>
        <sortField>SystemModstamp</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Client_Interests</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SummaryOutput</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;br&gt;
{!ClientInterestCounter}- Company: {!Loop_over_clis.MeetingNote__r.CompanyName__c}
Country: {!Loop_over_clis.MeetingNote__r.Company__r.BillingCountry}
Meeting Name: {!Loop_over_clis.MeetingNote__r.Name}
Notes: {!Loop_over_clis.MeetingNote__r.Note__c}
Date: {!Loop_over_clis.MeetingNote__r.Date__c}
Interest: {!Loop_over_clis.Interest__c}/5</text>
    </textTemplates>
    <variables>
        <name>ClientInterestCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MeetingNotesData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>productId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
