force-app/main/default/flows/Meeting_Notes_prompt_collection_by_country.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_nb_of_MNs_to_prompt</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Add nb of MNs to prompt</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Product Name = {!Loop_over_clis.Product__r.Name}
The number of Client Interest for this product during the period: {!ClientInterestCounter}
&lt;br&gt;the period is between: {!FirstDateMeetingNotes} and {!LastDateMeetingNotes}
</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_Prompt_Instructions_1</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Add Prompt Instructions 1</label>
        <locationX>528</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
{!ClientInterestCounter}- Company: {!Loop_over_clis.MeetingNote__r.CompanyName__c}
Country: {!Loop_over_clis.MeetingNote__r.Company__r.BillingCountry}
Meeting Name: {!Loop_over_clis.MeetingNote__r.Name}
Meeting Note Id: {!Loop_over_clis.MeetingNote__c}
Notes: {!Loop_over_clis.MeetingNote__r.Note__c}
Date: {!Loop_over_clis.MeetingNote__r.Date__c}
Interest: {!Loop_over_clis.Interest__c}/5
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Meeting_notes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Meeting_notes</name>
        <label>Assign Meeting notes</label>
        <locationX>528</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ClientInterestCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LastDateMeetingNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_clis.MeetingNote__r.Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeetingNoteCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_clis.MeetingNote__r.Company__r.Team__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Break_if_more_than_80</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_first_date</name>
        <label>Get first date</label>
        <locationX>528</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>FirstDateMeetingNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_clis.MeetingNote__r.Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_clis</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>FirstDate</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>Break_if_more_than_80</name>
        <label>Break if more than 80</label>
        <locationX>528</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Loop_over_clis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Break</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClientInterestCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>80.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Add_nb_of_MNs_to_prompt</targetReference>
            </connector>
            <label>Break</label>
        </rules>
        <rules>
            <name>If_counter_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClientInterestCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_first_date</targetReference>
            </connector>
            <label>If counter = 2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Meeting Notes prompt collection by country {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Meeting Notes prompt collection by country</label>
    <loops>
        <name>Loop_over_clis</name>
        <label>Loop over clis</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Client_Interests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Prompt_Instructions_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_nb_of_MNs_to_prompt</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <name>Get_Client_Interests</name>
        <label>Get Client Interests</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_clis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Input.ProductId</elementReference>
            </value>
        </filters>
        <filters>
            <field>null__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Input.Country</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ClientInterest__c</object>
        <sortField>SystemModstamp</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <capabilityTypes>
            <name>FlexTemplate://Product_Overview_by_country</name>
            <capabilityName>FlexTemplate://Product_Overview_by_country</capabilityName>
            <inputs>
                <name>Country</name>
                <capabilityInputName>Country</capabilityInputName>
                <dataType>String</dataType>
                <isCollection>false</isCollection>
            </inputs>
            <inputs>
                <name>ProductId</name>
                <capabilityInputName>ProductId</capabilityInputName>
                <dataType>String</dataType>
                <isCollection>false</isCollection>
            </inputs>
        </capabilityTypes>
        <connector>
            <targetReference>Get_Client_Interests</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>ClientInterestCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FirstDateMeetingNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastDateMeetingNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MeetingNoteCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
