force-app/main/default/flows/NDA_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NDA_Document_Upload</name>
        <label>NDA Document Upload</label>
        <locationX>666</locationX>
        <locationY>575</locationY>
        <actionName>NDA__c.NDA_Document_Upload</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Related_WTP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_new_NDA</name>
        <label>Send new NDA</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <actionName>NDA__c.New_NDA_Request</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendModifiedNDA</name>
        <label>Send modified NDA</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <actionName>NDA__c.NDA_Modified</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Signed_version_uploaded</name>
        <label>Signed version uploaded</label>
        <locationX>930</locationX>
        <locationY>575</locationY>
        <actionName>NDA__c.The_Signed_NDA_has_been_Uploaded</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_WTP_To_Update</name>
        <label>Add WTP To Update</label>
        <locationX>754</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>WTPToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Related_WTP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Related_WTP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_NDA_Signed</name>
        <label>Update NDA Signed</label>
        <locationX>754</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Loop_Related_WTP.NDA_signed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_WTP_To_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bypass_flow</name>
        <label>is Bypass flow</label>
        <locationX>1073</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BypassFlow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.BypassWorkflowRules__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Status_changed</targetReference>
            </connector>
            <label>not BypassFlow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Status_changed</name>
        <label>Check if Status changed</label>
        <locationX>688</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChooseMailToSend</targetReference>
            </connector>
            <label>isUpdatedToInProgress</label>
        </rules>
        <rules>
            <name>isUpdatedToCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NDA_Document_Upload</targetReference>
            </connector>
            <label>isUpdatedToCompleted</label>
        </rules>
        <rules>
            <name>isSigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Signed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SignatureDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Signed_version_uploaded</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>isSigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChooseMailToSend</name>
        <label>Choose Mail To Send</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>SendModifiedNDA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FirstContactLegalTeam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FirstContactLegalTeam__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Legal_Team_Contact</targetReference>
            </connector>
            <label>First Contact Legal Team</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>NDA_Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NDA_Notifications</label>
    <loops>
        <name>Loop_Related_WTP</name>
        <label>Loop Related WTP</label>
        <locationX>666</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_Related_WTP</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_NDA_Signed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Related_WTP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_WTP</name>
        <label>Get Related WTP</label>
        <locationX>666</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Related_WTP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NDA__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>NDA_signed__c</queriedFields>
        <queriedFields>NDA__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Legal_Team_Contact</name>
        <label>Update Legal Team Contact</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Send_new_NDA</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstContactLegalTeam__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_WTP</name>
        <label>Update Related WTP</label>
        <locationX>666</locationX>
        <locationY>1271</locationY>
        <inputReference>WTPToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>947</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_flow</targetReference>
        </connector>
        <object>NDA__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>WTPToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
