force-app/main/default/flows/Negative_Meeting_Notes_Collection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Prompt_Instructions_1</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Add Prompt Instructions 1</label>
        <locationX>270</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
{!ClientInterestCounter}- Country: {!Loop_over_MNIs.Meeting_Note__r.Company__r.BillingCountry}
Meeting Name: {!Loop_over_MNIs.Meeting_Note__r.Name}
Meeting Note Id: {!Loop_over_MNIs.Meeting_Note__c}
Notes: {!Loop_over_MNIs.Inisghts__c}
Date: {!Loop_over_MNIs.Meeting_Note__r.Date__c}
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Meeting_notes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Meeting_notes</name>
        <label>Assign Meeting notes</label>
        <locationX>270</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>ClientInterestCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_MNIs.Product__r.Product_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeetingNoteSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_MNIs.Meeting_Note__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_5</name>
        <label>Assignment 5</label>
        <locationX>402</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>AllMns</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_MNIs.Meeting_Note__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_MNIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_Prompt_Instructions_1</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Copy 1 of Add Prompt Instructions 1</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Product Name = {!productName}
Number of meeting notes where negative insights found ={!nbOfMnss}
Total Number of meeting notes = {!TotalNbOfMNs}
</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Countries_Assignements</name>
        <label>Copy 1 of Countries Assignements</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CountriesList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Germany</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountriesList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Belgium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountriesList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>France</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountriesList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Switzerland</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountriesList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Spain</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountriesList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>United Kingdom</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountriesList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Italy</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountriesList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Netherlands</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountriesList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Luxembourg</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountriesList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>International</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountriesList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Japan</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Client_Interests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Countries_Assignements</name>
        <label>Countries Assignements</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CountriesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Client_Interests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getMnsNb</name>
        <label>getMnsNb</label>
        <locationX>182</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>nbOfMnss</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Neg_MNs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalNbOfMNs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Mns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_Prompt_Instructions_1</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>FirstDate</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>if_all</name>
        <label>if all</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Countries_Assignements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>all</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>All</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Countries_Assignements</targetReference>
            </connector>
            <label>all</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Negative</name>
        <label>If Negative</label>
        <locationX>402</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Assignment_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_MNIs.Sentiment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negative</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Prompt_Instructions_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FromDate</name>
        <dataType>Date</dataType>
        <expression>CASE(
    {!Last_x_Months},
    &quot;One Week&quot;, $Flow.CurrentDate - 7,
    &quot;One week&quot;, $Flow.CurrentDate - 7,
    &quot;One Month&quot;, ADDMONTHS($Flow.CurrentDate, -1),
    &quot;One month&quot;, ADDMONTHS($Flow.CurrentDate, -1),
    &quot;Three Months&quot;, ADDMONTHS($Flow.CurrentDate, -3),
    &quot;Three months&quot;, ADDMONTHS($Flow.CurrentDate, -3),
    &quot;YTD&quot;, DATE(YEAR($Flow.CurrentDate), 1, 1),
    &quot;One Year&quot;, ADDMONTHS($Flow.CurrentDate, -12),
    &quot;One year&quot;, ADDMONTHS($Flow.CurrentDate, -12),
    DATE( 2023, 1, 9 )
)</expression>
    </formulas>
    <interviewLabel>NegativeMeeting Notes Collection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Negative Meeting Notes Collection</label>
    <loops>
        <name>Loop_over_MNIs</name>
        <label>Loop over MNIs</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <collectionReference>Get_Client_Interests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Negative</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Neg_MNs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <name>Get_All_Mns</name>
        <label>Get All Mns</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getMnsNb</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>AllMns</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Meeting_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Client_Interests</name>
        <label>Get Meeting Note Insight</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_MNIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>FromDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Country__c</field>
            <operator>In</operator>
            <value>
                <elementReference>CountriesList</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sentiment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Negative</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Meeting_Note_Insight__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Neg_MNs</name>
        <label>Get Neg MNs</label>
        <locationX>182</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Mns</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>MeetingNoteSet</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Meeting_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>if_all</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllMns</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClientInterestCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountriesList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstDateMeetingNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Last_x_Months</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastDateMeetingNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MeetingNoteCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MeetingNoteSet</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nbOfMnss</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Product_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalNbOfMNs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
