force-app/main/default/flows/New_KYD_Due_Diligence_Oversight.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_KYD_Document</name>
        <label>Assign KYD Document</label>
        <locationX>754</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>singleKYCDocumentRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnDocumenTConfig.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleKYCDocumentRecord.LegalEntity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAgreementRole.Legal_Entity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleKYCDocumentRecord.KYD_Due_Diligence_Oversight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KYD_Create</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleKYCDocumentRecord.Mandatory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnDocumenTConfig.Mandatory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleKYCDocumentRecord.DocumentFormat__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnDocumenTConfig.Format__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleKYCDocumentRecord.DocumentDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnDocumenTConfig.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleKYCDocumentRecord.ExternalId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DocumentExternalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleKYCDocumentRecord.KYD_Document_Configuration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnDocumenTConfig.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleKYCDocumentRecord.Divers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnDocumenTConfig.Divers__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleKYCDocumentRecord.DescriptionShort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnDocumenTConfig.DescriptionShort__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignToListDocuments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToListDocuments</name>
        <label>AssignToListDocuments</label>
        <locationX>754</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>KYCDocumentsListToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleKYCDocumentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOnDocumenTConfig</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getAssignKYDCheckListID</name>
        <label>getAssignKYDOversightID</label>
        <locationX>666</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>GetKYCheckListID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KYD_Create</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Agreement</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>getRiskFromAgreement</name>
        <choiceText>{!CheckIfRiskIsNotNullFromAgreement}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CheckIfRiskIsNotNullFromAgreement</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Verify_if_Legal_Entity_Exists</name>
        <label>Verify if Legal Entity Exists</label>
        <locationX>358</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>GetDueDiligence</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Legal_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAgreementRole.Legal_Entity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message</targetReference>
            </connector>
            <label>If Legal Entity Not Exists</label>
        </rules>
        <rules>
            <name>Check_if_KYD_Diligence_Exists_on_Agreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAgreementRole.Agreement__r.KYD_Due_Diligence_Oversight__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAgreementRole.Agreement__r.KYD_Due_Diligence_Oversight__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>KYDDDName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Msg</targetReference>
            </connector>
            <label>Check if KYD Diligence Exists on Agreement</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CollectiveFundswithlegalpersonality</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CollectiveFunds_personality__c</picklistField>
        <picklistObject>KYD_Due_Diligence_Oversight__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Entity</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>EntityType__c</picklistField>
        <picklistObject>KYD_Due_Diligence_Oversight__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GetPreliminaryRiskfromagreement</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Preliminary_Risk_Assesment__c</picklistField>
        <picklistObject>Convention__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>KYDResponsible</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>KYD_Responsible__c</picklistField>
        <picklistObject>KYD_Due_Diligence_Oversight__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RiskLevel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Preliminary_Risk__c</picklistField>
        <picklistObject>KYD_Due_Diligence_Oversight__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RiskPicklistValues</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01I58000000oGoP.00N1i000002P6Sw</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>getAgreementRole.Agreement__r.Preliminary_Risk_Assesment__c</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>Selected_RiskFromAgreement</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CheckIfRiskIsNotNullFromAgreement</name>
        <dataType>String</dataType>
        <expression>if(IsBlank(Text({!getAgreementRole.Agreement__r.Preliminary_Risk_Assesment__c})), &apos;Please select a risk&apos;, Text({!getAgreementRole.Agreement__r.Preliminary_Risk_Assesment__c}) )</expression>
    </formulas>
    <formulas>
        <name>checklistname</name>
        <dataType>String</dataType>
        <expression>&apos;KYD_&apos;&amp; LEFT({!getAgreementRole.Legal_Entity__r.Name}, 71) &amp; &apos;_&apos; &amp; TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>DocumentExternalId</name>
        <dataType>String</dataType>
        <expression>{!KYD_Create}+&apos;_&apos;+{!LoopOnDocumenTConfig.Name}</expression>
    </formulas>
    <formulas>
        <name>KYDDDName</name>
        <dataType>String</dataType>
        <expression>&quot;KYD_&quot; &amp; {!getAgreementRole.Legal_Entity__r.Name} &amp; &quot;_&quot; &amp; TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <interviewLabel>KYD Due Diligence Oversight {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New KYD Due Diligence Oversight</label>
    <loops>
        <name>LoopOnDocumenTConfig</name>
        <label>LoopOnDocumenTConfig</label>
        <locationX>666</locationX>
        <locationY>1358</locationY>
        <collectionReference>GetDocumentConfig</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_KYD_Document</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_KYD_Documents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_KYD_Documents</name>
        <label>Create KYD Documents</label>
        <locationX>666</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorCreateKYDDoc</targetReference>
        </faultConnector>
        <inputReference>KYCDocumentsListToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>KYD_Create</name>
        <label>KYD Due Diligence Oversight</label>
        <locationX>666</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>getAssignKYDCheckListID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorCreateKYDDiligence</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Agreement__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CollectiveFunds_personality__c</field>
            <value>
                <elementReference>Collective_Funds_with_legal_personality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Diligence_Level__c</field>
            <value>
                <elementReference>getAgreementRole.Agreement__r.Due_Diligence_Level__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntityType__c</field>
            <value>
                <elementReference>EntityType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KYD_Responsible_Details__c</field>
            <value>
                <elementReference>KYD_Responsible_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KYD_Responsible__c</field>
            <value>
                <elementReference>KYD_Responsible</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LegalEntity__c</field>
            <value>
                <elementReference>getAgreementRole.Legal_Entity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>checklistname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preliminary_Risk__c</field>
            <value>
                <elementReference>Risk</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UME_DDQ_Risk__c</field>
            <value>
                <elementReference>GetDueDiligence.Overall_Qualification__c</elementReference>
            </value>
        </inputAssignments>
        <object>KYD_Due_Diligence_Oversight__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getAgreement</name>
        <label>getAgreement</label>
        <locationX>358</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAgreementRole</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Convention__c</object>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getAgreementRole</name>
        <label>getAgreementRole</label>
        <locationX>358</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_if_Legal_Entity_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Role__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Carmignac Entity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agreement_Role__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDocumentConfig</name>
        <label>GetDocumentConfig</label>
        <locationX>666</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOnDocumenTConfig</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3 AND 4) OR 5</filterLogic>
        <filters>
            <field>EntityType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EntityType</elementReference>
            </value>
        </filters>
        <filters>
            <field>KYD_Responsible__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>KYD_Responsible</elementReference>
            </value>
        </filters>
        <filters>
            <field>RiskLevel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Risk</elementReference>
            </value>
        </filters>
        <filters>
            <field>CollectiveFunds_personality__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CollectiveFundswithlegalpersonality</elementReference>
            </value>
        </filters>
        <filters>
            <field>Divers__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>KYC_Document_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDueDiligence</name>
        <label>GetDueDiligence</label>
        <locationX>666</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_KYD_Checklist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Legal_Entity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAgreementRole.Legal_Entity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DueDiligence__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getKYDCheckList</name>
        <label>getKYDOversightName</label>
        <locationX>666</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDocumentConfig</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>KYD_Create</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>KYD_Due_Diligence_Oversight__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Agreement</name>
        <label>update Agreement</label>
        <locationX>666</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>getKYDCheckList</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorUpdateAgreement</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>KYD_Due_Diligence_Oversight__c</field>
            <value>
                <elementReference>KYD_Create</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preliminary_Risk_Assesment__c</field>
            <value>
                <elementReference>Risk</elementReference>
            </value>
        </inputAssignments>
        <object>Convention__c</object>
    </recordUpdates>
    <screens>
        <name>Create_New_KYD_Checklist</name>
        <label>Create New KYD Checklist</label>
        <locationX>666</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>KYD_Create</targetReference>
        </connector>
        <fields>
            <name>KYD_Responsible</name>
            <choiceReferences>KYDResponsible</choiceReferences>
            <dataType>String</dataType>
            <fieldText>KYD Responsible</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>KYD_Responsible_Details</name>
            <fieldText>KYD Responsible Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EntityType</name>
            <choiceReferences>Entity</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Entity Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>KYD_Responsible</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>RELIANCE</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Collective_Funds_with_legal_personality</name>
            <choiceReferences>CollectiveFundswithlegalpersonality</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Collective Funds with legal personality</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1 AND 2</conditionLogic>
                <conditions>
                    <leftValueReference>EntityType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Regulated Investment Funds</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>KYD_Responsible</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>RELIANCE</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Risk</name>
            <choiceReferences>RiskPicklistValues</choiceReferences>
            <choiceReferences>getRiskFromAgreement</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>getRiskFromAgreement</defaultSelectedChoiceReference>
            <fieldText>Preliminary Risk</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>KYD_Responsible</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>RELIANCE</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(178, 34, 34); font-size: 16px;&quot;&gt;There is no Legal Entity associated with this Agreement&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorCreateKYDDiligence</name>
        <label>Error Message</label>
        <locationX>1458</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorCreateKYDOverisght</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 4, 4);&quot;&gt;&amp;nbsp;{!$Flow.FaultMessage}&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorCreateKYDDoc</name>
        <label>Error Message</label>
        <locationX>930</locationX>
        <locationY>1934</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FlowCreateKYDDocError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(250, 0, 0);&quot;&gt;&amp;nbsp;{!$Flow.FaultMessage}&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorUpdateAgreement</name>
        <label>Error Message</label>
        <locationX>1194</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorAgreement</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(247, 0, 0);&quot;&gt;&amp;nbsp;{!$Flow.FaultMessage}&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message</name>
        <label>Message</label>
        <locationX>666</locationX>
        <locationY>1934</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MessageInfo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;New KYD Due Diligence has been created successfully:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;﻿Click on the following link to access it:&lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px; color: rgb(80, 75, 215);&quot;&gt; &lt;/span&gt;&lt;a href=&quot;/{!KYD_Create}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif; font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;&lt;b&gt;&lt;u&gt;{!getKYDCheckList.Name}&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warning_Msg</name>
        <label>Warning Msg</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Warning</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Roboto, sans-serif; font-size: 14px; background-color: rgb(248, 249, 250); color: rgb(32, 33, 36);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(248, 249, 250); color: rgb(178, 34, 34);&quot;&gt;W&lt;/span&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(248, 249, 250); color: rgb(178, 34, 34);&quot;&gt;arning: this agreement already has a KYD Due Diligence associated please check it before creating a new one&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAgreement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GetKYCheckListID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GetKYDCheckListName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>KYCDocumentsListToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>KYD_Document__c</objectType>
    </variables>
    <variables>
        <name>LegalEntityfromAgreementRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Selected_RiskFromAgreement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>singleKYCDocumentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>KYD_Document__c</objectType>
    </variables>
</Flow>
