force-app/main/default/flows/NewRFPLib.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>create_CDL</name>
        <label>create CDL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>singleContentDocumentLing.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_on_files</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleContentDocumentLing.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RFP_Lib_record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contentDOcumentLinkCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleContentDocumentLing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_files</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getFileName</name>
        <label>getFileName</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RFP_Lib_record.Document_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDocumentName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getDocumentName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getNumberOfFiles</name>
        <label>getNumberOfFiles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>fileCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>uploadedFile.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>insertRFP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>link_RFP_to_case</name>
        <label>link RFP to case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RFP_Lib_record.Work_Together_Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_RFP_Library_screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_Case_Id</name>
        <label>is Case Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>New_RFP_Library_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>link_RFP_to_case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>were_files_uploaded</name>
        <label>were files uploaded ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>insertFile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fileCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>insertFile</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fileCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_on_files</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>US 17691, users currently need to create an RFP library and then attach a file.
To simplify this process, the new flow will allow them to complete both actions on a single page.
Add uploaded file name</description>
    <environments>Default</environments>
    <interviewLabel>NewRFPLib {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New RFP Library</label>
    <loops>
        <name>getDocumentName</name>
        <label>getDocumentName</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>uploadedFile.fileNames</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getFileName</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getNumberOfFiles</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_on_files</name>
        <label>loop on files</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>uploadedFile.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>create_CDL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>insertFile</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>insertFile</name>
        <label>insert content documentLinks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>contentDOcumentLinkCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>insertRFP</name>
        <label>insertRFP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>were_files_uploaded</targetReference>
        </connector>
        <inputReference>RFP_Lib_record</inputReference>
    </recordCreates>
    <screens>
        <name>New_RFP_Library_screen</name>
        <label>New RFP Library screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getDocumentName</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>RFP_Lib_record.Category__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>RFP_Lib_record.SubCategory__c</objectFieldReference>
        </fields>
        <fields>
            <name>uploadedFile</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>documentNames</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>filesNames</name>
            <fieldText>&lt;p&gt;Uploaded file : {!uploadedFile.fileNames}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>uploadedFile.fileNames</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>RFP_Lib_record.DocumentDescription__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_Case_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CDL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>contentDocument</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>contentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentDOcumentLinkCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>contentDoucmentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>documentNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>false_final</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>fileCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RFP_Lib_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RFP_Library__c</objectType>
    </variables>
    <variables>
        <name>singleContentDocumentLing</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>uploadedfilesnames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
