force-app/main/default/flows/PE_VideoCall_GenerateMeetingNotes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Invoke Apex in order to create meeting notes</description>
        <name>Create_MeetingNotes_from_APex</name>
        <label>Create MeetingNotes from APex</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CTL_MeetingNotes_AIOrchestrator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Meeting_Note</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorEmail</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>videoCallId</name>
            <value>
                <elementReference>$Record.VideoCallId__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTL_MeetingNotes_AIOrchestrator</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ErrorEmail</name>
        <label>ErrorEmail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforcesupport@carmignac.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error while creating the Meeting Note</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Error while creating the Meeting Note : {!$Flow.FaultMessage}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Generate Notification Through Prompt</description>
        <name>Generate_Notification_Through_Prompt</name>
        <label>Generate Notification Through Prompt</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>flex_GenerateMeetingNotesNotification</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Send_Teams_Message_via_Queueable</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorEmail</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Meeting_Note</name>
            <value>
                <elementReference>Get_Meeting_Note</elementReference>
            </value>
        </inputParameters>
        <nameSegment>flex_GenerateMeetingNotesNotification</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Teams_Message_via_Queueable</name>
        <label>Send Teams Message via Queueable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>WS_QueueableLauncher</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorEmail</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>emailListTest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>Generate_Notification_Through_Prompt.promptResponse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>namedCredentialName</name>
            <value>
                <stringValue>MicrosoftGraphSF</stringValue>
            </value>
        </inputParameters>
        <nameSegment>WS_QueueableLauncher</nameSegment>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <description>Platform event triggered flow used to invoke Apex in order to generate Meeting Notes</description>
    <environments>Default</environments>
    <formulas>
        <name>emailList</name>
        <dataType>String</dataType>
        <expression>{!GetRelatedRecord.Owner.Email} &amp; &apos;;&apos; &amp; {!OwnerEmail}</expression>
    </formulas>
    <formulas>
        <name>emailListTest</name>
        <dataType>String</dataType>
        <expression>&quot;khadija.el-gdaouni.external@carmignac.com&quot;</expression>
    </formulas>
    <formulas>
        <description>The email subject</description>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Meeting Notes generated by AI – Client: : &quot; &amp;
{!GetRelatedRecord.Name} &amp; &quot; - &quot; &amp;
TEXT( DAY( DATEVALUE( {!Get_Meeting_Note.VideoCall__r.StartDateTime} ) ) ) &amp; &quot; &quot; &amp;
CASE(
  MONTH( DATEVALUE( {!Get_Meeting_Note.VideoCall__r.StartDateTime} ) ),
  1,&quot;janv.&quot;,2,&quot;févr.&quot;,3,&quot;mars&quot;,4,&quot;avr.&quot;,5,&quot;mai&quot;,6,&quot;juin&quot;,
  7,&quot;juil.&quot;,8,&quot;août&quot;,9,&quot;sept.&quot;,10,&quot;oct.&quot;,11,&quot;nov.&quot;,12,&quot;déc.&quot;,
  &quot;&quot;
) &amp; &quot; &quot; &amp;
TEXT( YEAR( DATEVALUE( {!Get_Meeting_Note.VideoCall__r.StartDateTime} ) ) )</expression>
    </formulas>
    <formulas>
        <name>OwnerEmail</name>
        <dataType>String</dataType>
        <expression>{!Get_Meeting_Note.VideoCall__r.Owner:User.Email}</expression>
    </formulas>
    <interviewLabel>PE_VideoCall_GenerateMeetingNotes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PE_VideoCall_GenerateMeetingNotes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Meeting_Note</name>
        <label>Get Meeting Note</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRelatedRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_MeetingNotes_from_APex.meetingNoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Meeting_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves the VideoCall Parent Record</description>
        <name>GetRelatedRecord</name>
        <label>GetRelatedRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Notification_Through_Prompt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Meeting_Note.VideoCall__r.RelatedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_MeetingNotes_from_APex</targetReference>
        </connector>
        <object>VideoCallWithTranscript__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Generate_Notification_Through_Prompt.promptResponse}</text>
    </textTemplates>
</Flow>
