force-app/main/default/flows/PMT_AutoName_Registration_Country.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>Record_Type_Dispatcher</name>
        <label>Record Type Dispatcher</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CountryRegistration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeDeveloperName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RegistrationCountry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Country_Registration_Name</targetReference>
            </connector>
            <label>Country Registration</label>
        </rules>
        <rules>
            <name>TaxRegistration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeDeveloperName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TaxRegistration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Tax_Registration_Name</targetReference>
            </connector>
            <label>Tax Registration</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormattedCountryName</name>
        <dataType>String</dataType>
        <expression>$Record.Shareclass__r.Name &amp; &quot; – &quot; &amp; TEXT($Record.Country__c)</expression>
    </formulas>
    <formulas>
        <name>FormattedTaxName</name>
        <dataType>String</dataType>
        <expression>&quot;Tax Registration – &quot; &amp; $Record.RegistrationCountry__r.Name</expression>
    </formulas>
    <interviewLabel>PMT_AutoName Registration Country {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PMT - AutoName Registration Country</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Country_Registration_Name</name>
        <label>Update Country Registration Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FormattedCountryName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tax_Registration_Name</name>
        <label>Update Tax Registration Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FormattedTaxName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type_Dispatcher</targetReference>
        </connector>
        <object>Country__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
