force-app/main/default/flows/PMT_Teams_Send_Message.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_chat_message</name>
        <label>Send chat message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>WS_QueueableLauncher</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>emailTEAMS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>Copy_1_of_Get_E.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WS_QueueableLauncher</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_tax_team</name>
        <label>Send email to tax team</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>EmailRecipientsPtfModel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.NoReplayWideAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubjectTax</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyTax</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>Check_Notify_All</name>
        <label>Check Notify All</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_DOCUMENT.NotifyAllTeamOwners__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_chat_message</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Portfolio_Model_type</name>
        <label>Is Portfolio Model type?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portfolio Model</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_to_tax_team</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow allows users to share a document or meeting summary via Microsoft Teams directly from a PMT project.
If the user selects the “Notify All” checkbox, the content will be sent to all Team Owners associated with the project via Teams notification.
If the checkbox is not selected, the message is sent only to the team(s) explicitly selected.</description>
    <environments>Default</environments>
    <formulas>
        <name>EmailRecipientsPtfModel</name>
        <dataType>String</dataType>
        <expression>&apos;operationalexcellence.technology@carmignac.com&apos;&amp;&apos;,&apos;&amp;&apos;tax.generalsecretary@carmignac.com&apos;&amp;&apos;,&apos;&amp;&apos;middleofficefunds2@carmignac.com&apos;</expression>
    </formulas>
    <formulas>
        <description>Ne contient pas l&apos;équipe IS (à terme il faut ajouter une condition suivant le vehicule type et remplacer PS par IS) et l&apos;équipe INvestment Management (Laurent Mathieu) qui contribue indirectement à PMT en ajoutant des Product Manager si nécessaire ou en faisant les modifications d&apos;assignation.</description>
        <name>emailTEAMS</name>
        <dataType>String</dataType>
        <expression>IF(
  OR(
    ISPICKVAL({!GETPMT.SFDRcategory__c}, &apos;6&apos;),
    ISPICKVAL({!GETPMT.SFDRcategory__c}, &apos;8&apos;),
    ISPICKVAL({!GETPMT.SFDRcategory__c}, &apos;9&apos;)
  ),

  /* ESG included */

IF(ISBLANK({!GETPMT.Communication__r.Email}), &apos;&apos;, {!GETPMT.Communication__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.Compliance__r.Email}), &apos;&apos;, {!GETPMT.Compliance__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.DBS__r.Email}), &apos;&apos;, {!GETPMT.DBS__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.DCO__r.Email}), &apos;&apos;, {!GETPMT.DCO__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.DCP__r.Email}), &apos;&apos;, {!GETPMT.DCP__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.DCR__r.Email}), &apos;&apos;, {!GETPMT.DCR__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.DM__r.Email}), &apos;&apos;, {!GETPMT.DM__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.ESG__r.Email}), &apos;&apos;, {!GETPMT.ESG__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.Finance__r.Email}), &apos;&apos;, {!GETPMT.Finance__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.FundMarketing__r.Email}), &apos;&apos;, {!GETPMT.FundMarketing__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.InvestmentPerf__r.Email}), &apos;&apos;, {!GETPMT.InvestmentPerf__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.Legal__r.Email}), &apos;&apos;, {!GETPMT.Legal__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.OPS__r.Email}), &apos;&apos;, {!GETPMT.OPS__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.ProductSpecialists__r.Email}), &apos;&apos;, {!GETPMT.ProductSpecialists__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.ProductStrategy__r.Email}), &apos;&apos;, {!GETPMT.ProductStrategy__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.RFP__r.Email}), &apos;&apos;, {!GETPMT.RFP__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.Risk__r.Email}), &apos;&apos;, {!GETPMT.Risk__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.Tax__r.Email}), &apos;&apos;, {!GETPMT.Tax__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.IS__r.Email}), &apos;&apos;, {!GETPMT.IS__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.Technology__r.Email}), &apos;&apos;, {!GETPMT.Technology__r.Email}),

  /* ESG excluded */

IF(ISBLANK({!GETPMT.Communication__r.Email}), &apos;&apos;, {!GETPMT.Communication__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.Compliance__r.Email}), &apos;&apos;, {!GETPMT.Compliance__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.DBS__r.Email}), &apos;&apos;, {!GETPMT.DBS__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.DCO__r.Email}), &apos;&apos;, {!GETPMT.DCO__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.DCP__r.Email}), &apos;&apos;, {!GETPMT.DCP__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.DCR__r.Email}), &apos;&apos;, {!GETPMT.DCR__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.DM__r.Email}), &apos;&apos;, {!GETPMT.DM__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.Finance__r.Email}), &apos;&apos;, {!GETPMT.Finance__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.FundMarketing__r.Email}), &apos;&apos;, {!GETPMT.FundMarketing__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.InvestmentPerf__r.Email}), &apos;&apos;, {!GETPMT.InvestmentPerf__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.Legal__r.Email}), &apos;&apos;, {!GETPMT.Legal__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.OPS__r.Email}), &apos;&apos;, {!GETPMT.OPS__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.ProductSpecialists__r.Email}), &apos;&apos;, {!GETPMT.ProductSpecialists__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.ProductStrategy__r.Email}), &apos;&apos;, {!GETPMT.ProductStrategy__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.RFP__r.Email}), &apos;&apos;, {!GETPMT.RFP__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.Risk__r.Email}), &apos;&apos;, {!GETPMT.Risk__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.Tax__r.Email}), &apos;&apos;, {!GETPMT.Tax__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.IS__r.Email}), &apos;&apos;, {!GETPMT.IS__r.Email} &amp; &apos;;&apos;) &amp;
IF(ISBLANK({!GETPMT.Technology__r.Email}), &apos;&apos;, {!GETPMT.Technology__r.Email})
)</expression>
    </formulas>
    <formulas>
        <name>PMTId</name>
        <dataType>String</dataType>
        <expression>{!$Record.Project_product__r.Id}</expression>
    </formulas>
    <formulas>
        <name>ProjectLink</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_520, FIND(&quot;/services&quot;, $Api.Partner_Server_URL_520)) &amp; &quot;/lightning/r/ProjectProduct__c/&quot; &amp; {!$Record.Project_product__c} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>TESTThomas</name>
        <dataType>String</dataType>
        <expression>&quot;sihem.mokhtari.external@carmignac.com&quot;</expression>
    </formulas>
    <interviewLabel>PMT_Teams Send Message - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PMT - Teams Notification - CheckboxNotifyAll</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_E</name>
        <label>Copy 1 of Get Email Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_DOCUMENT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Teams_Notify_All_checkbox</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_DOCUMENT</name>
        <label>GET DOCUMENT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Notify_All</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProjectDocuments__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_EmailTemplate</name>
        <label>Get EmailTemplate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Portfolio_Model_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Teams_Notify_All_checkbox</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GETPMT</name>
        <label>GET PMT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_E</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PMTId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProjectProduct__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_EmailTemplate</targetReference>
        </connector>
        <filterLogic>1 OR 2</filterLogic>
        <filters>
            <field>NotifyAllTeamOwners__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Portfolio Model</stringValue>
            </value>
        </filters>
        <object>ProjectDocuments__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>GETPMT</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBodyTax</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello TAX Team,&lt;/p&gt;&lt;p&gt;A&amp;nbsp;&lt;strong&gt;Portfolio Model document&lt;/strong&gt;&amp;nbsp;has just been uploaded on a PMT project.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Project information&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Project name:&lt;/strong&gt;&amp;nbsp;&lt;a href=&quot;{!ProjectLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.Project_product__r.Name}&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Project type:&lt;/strong&gt;&amp;nbsp;{!$Record.Project_product__r.RecordType.Name}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Launch date :&lt;/strong&gt;&amp;nbsp;{!$Record.Project_product__r.EndDate__c}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong&gt;Action required:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Please review the uploaded Portfolio Model for validation or next steps.&lt;/p&gt;&lt;p&gt;Many thanks,&lt;/p&gt;&lt;p&gt;Salesforce – PMT&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubjectTax</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Portfolio Model uploaded – [PMT Project: {!$Record.Project_product__r.Name}]</text>
    </textTemplates>
    <textTemplates>
        <name>EmailTest</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>sihem.mokhtari.external@carmignac.com;thomas.coullon@carmignac.com;najlaa.jebbour@carmignac.com</text>
    </textTemplates>
    <textTemplates>
        <name>TESTEmails</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;thomas.coullon@carmignac.com&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
