force-app/main/default/flows/Product_Overview_Analysis.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Negative_Prompt</name>
        <label>Negative Prompt</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>Product_Overview_Negative</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Product_Overview_Cross_Countries_Global</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Last_x_Months</name>
            <value>
                <elementReference>Period</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Product_Id</name>
            <value>
                <elementReference>Product_Choice</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Product_Overview_Negative</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Positive_Prompt</name>
        <label>Positive Prompt</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>Product_Overview_Positive</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Negative_Prompt</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Last_x_Months</name>
            <value>
                <elementReference>Period</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Product_Id</name>
            <value>
                <elementReference>Product_Choice</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Product_Overview_Positive</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Product_Overview_Cross_Countries_Global</name>
        <label>Product Overview Cross Countries - Global</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>Product_Overview_Cross_Countries_Global</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Copy_1_of_Product_Overview_Result</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Negative</name>
            <value>
                <elementReference>Negative_Prompt.promptResponse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Postive</name>
            <value>
                <elementReference>Positive_Prompt.promptResponse</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Product_Overview_Cross_Countries_Global</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <choices>
        <name>Belgium</name>
        <choiceText>Belgium</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Belgium</stringValue>
        </value>
    </choices>
    <choices>
        <name>France</name>
        <choiceText>France</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>France</stringValue>
        </value>
    </choices>
    <choices>
        <name>Full</name>
        <choiceText>Full</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Full</stringValue>
        </value>
    </choices>
    <choices>
        <name>Germany</name>
        <choiceText>Germany</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Germany</stringValue>
        </value>
    </choices>
    <choices>
        <name>International</name>
        <choiceText>International</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>International</stringValue>
        </value>
    </choices>
    <choices>
        <name>Italy</name>
        <choiceText>Italy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Italy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Japan</name>
        <choiceText>Japan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Japan</stringValue>
        </value>
    </choices>
    <choices>
        <name>Luxembourg</name>
        <choiceText>Luxembourg</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Luxembourg</stringValue>
        </value>
    </choices>
    <choices>
        <name>Netherlands</name>
        <choiceText>Netherlands</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Netherlands</stringValue>
        </value>
    </choices>
    <choices>
        <name>One_month</name>
        <choiceText>One month</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One month</stringValue>
        </value>
    </choices>
    <choices>
        <name>One_week</name>
        <choiceText>One week</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One week</stringValue>
        </value>
    </choices>
    <choices>
        <name>Spain</name>
        <choiceText>Spain</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spain</stringValue>
        </value>
    </choices>
    <choices>
        <name>Switzerland</name>
        <choiceText>Switzerland</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Switzerland</stringValue>
        </value>
    </choices>
    <choices>
        <name>Taiwan</name>
        <choiceText>Taiwan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Taiwan</stringValue>
        </value>
    </choices>
    <choices>
        <name>United_Kingdom</name>
        <choiceText>United Kingdom</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>United Kingdom</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_Year</name>
        <choiceText>One Year</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One Year</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_months</name>
        <choiceText>3 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Three months</stringValue>
        </value>
    </choices>
    <choices>
        <name>Year_to_Date</name>
        <choiceText>Year-to-Date</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>YTD</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>Products</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Strategy</stringValue>
            </value>
        </filters>
        <object>Product__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Product Overview Analysis {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Overview Analysis</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Copy_1_of_Product_Overview_Result</name>
        <label>Copy 1 of Product Overview Result</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Result</name>
            <fieldText>&lt;p&gt;{!Product_Overview_Cross_Countries_Global.promptResponse}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Overview</name>
        <label>Product Overview</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Positive_Prompt</targetReference>
        </connector>
        <fields>
            <name>Product_Overview_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Product_Overview_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Product_Choice</name>
                    <choiceReferences>Products</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Products</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Product_Overview_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Period</name>
                    <choiceReferences>One_week</choiceReferences>
                    <choiceReferences>One_month</choiceReferences>
                    <choiceReferences>X3_months</choiceReferences>
                    <choiceReferences>Year_to_Date</choiceReferences>
                    <choiceReferences>X1_Year</choiceReferences>
                    <choiceReferences>Full</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Period</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Product_Overview</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
