force-app/main/default/flows/PT_GenerateVideoCallTranscript.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Retrieves the conversation Transcript</description>
        <name>Get_Conversation_Transcript_from_VideoCall</name>
        <label>Get Conversation Transcript from VideoCall</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>getConversationTranscript</actionName>
        <actionType>getConversationTranscript</actionType>
        <connector>
            <targetReference>Add_Transcript_To_Prompt</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>VideoCall.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>transcriptType</name>
            <value>
                <stringValue>raw</stringValue>
            </value>
        </inputParameters>
        <nameSegment>getConversationTranscript</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <description>Add the generated Transcript to the Prompt Template</description>
        <name>Add_Transcript_To_Prompt</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Add Transcript To Prompt</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Get_Conversation_Transcript_from_VideoCall.unformattedTextTranscript}
</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <description>Use this template triggered flow to generate the VideoCall Transcript</description>
    <environments>Default</environments>
    <interviewLabel>PT_GenerateVideoCallTranscript {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PT_GenerateVideoCallTranscript</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Conversation_Transcript_from_VideoCall</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>The Video Call record</description>
        <name>VideoCall</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>VideoCall</objectType>
    </variables>
</Flow>
