force-app/main/default/flows/RTFL01_ACC_Update_Distributor_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AddToLIst_0</name>
        <label>AddToLIst</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>UpdatedAgreements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatedAgreement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agreements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateFieldAndAssign</name>
        <label>UpdateFieldAndAssign</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>UpdatedAgreement.Distributor_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Distributor_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedAgreement.Final_Distribution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Final_Distribution__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedAgreement.Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sub_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedAgreement.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agreements.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedAgreement.Investment_Decision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.In__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToLIst_0</targetReference>
        </connector>
    </assignments>
    <description>When distributor type and dependent fields are changed on Account update the corresponding agreement that is not terminated</description>
    <interviewLabel>FLACC_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTFL01_ACC_Update_Distributor_Type</label>
    <loops>
        <name>Agreements</name>
        <label>Agreements</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Agreement</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateFieldAndAssign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Agreement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Agreement</name>
        <label>Get Agreement</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Agreements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Convention__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Distributor_Type__c</queriedFields>
        <queriedFields>Final_Distribution__c</queriedFields>
        <queriedFields>Sub_Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Agreement</name>
        <label>Update Agreement</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputReference>UpdatedAgreements</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Agreement</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Distributor_Type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Final_Distribution__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sub_Type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>In__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UpdatedAgreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Convention__c</objectType>
    </variables>
    <variables>
        <name>UpdatedAgreements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Convention__c</objectType>
    </variables>
</Flow>
