force-app/main/default/flows/Screen_Flow_Create_Meeting_Note.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Invoke Apex to generate the Meeting Notes</description>
        <name>Create_Meeting_Notes_from_VideoCalls</name>
        <label>Create Meeting Notes from VideoCalls</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>CTL_MeetingNotes_AIOrchestrator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>get_Event</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>videoCallId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTL_MeetingNotes_AIOrchestrator</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Retrieves the transcript</description>
        <name>Get_Transcript</name>
        <label>Get Transcript</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <actionName>getConversationTranscript</actionName>
        <actionType>getConversationTranscript</actionType>
        <connector>
            <targetReference>Transcript_Exists</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>getConversationTranscript</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <description>Checks if the transcript exists</description>
        <name>Transcript_Exists</name>
        <label>Transcript Exists ?</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Transcript KO</defaultConnectorLabel>
        <rules>
            <name>Transcript_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Transcript</leftValueReference>
                <operator>HasError</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Meeting_Notes_from_VideoCalls</targetReference>
            </connector>
            <label>Transcript OK</label>
        </rules>
    </decisions>
    <description>Screenflow used to invoke Apex in order to create a Meeting Note</description>
    <environments>Default</environments>
    <interviewLabel>Screen Flow Create Meeting Note {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow Create Meeting Note</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Retrieves the newly created event child of the Meeting Note</description>
        <name>get_Event</name>
        <label>get Event</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Meeting_Note_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Meeting_Note__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Meeting_Notes_from_VideoCalls.meetingNoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;An error occured : &lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Meeting_Note_Created</name>
        <label>Meeting Note Created</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ScreenRedirect</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;/{!get_Event.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Meeting Note&lt;/a&gt; Created successfully&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Transcript</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
