force-app/main/default/flows/Sub_Meeting_Note_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Sub - Meeting Note Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sub - Meeting Note Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Meeting_Note</name>
        <label>Create Meeting Note</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>CreatedVideoCall.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Type__c</field>
            <value>
                <stringValue>Meeting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CreatedVideoCall.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Note__c</field>
            <value>
                <elementReference>PromptNotes</elementReference>
            </value>
        </inputAssignments>
        <object>Meeting_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Meeting_Notes</name>
        <label>Get Meeting Notes</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Meeting_Note</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConversationRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreatedVideoCall.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GenAIConversationSummary</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Meeting_Notes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>PromptNotes</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Get_Meeting_Notes.Summary}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CreatedVideoCall</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>VideoCall</objectType>
    </variables>
</Flow>
