force-app/main/default/flows/WorkTogether_PB010_CaseClosed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Closed_WTP_DA</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>WTP Closed DA</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <actionName>Case.Closed_WTP_DA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Closed_WTP_IN</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>WTP Closed IN</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <actionName>Case.Closed_WTP_IN</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Closed_WTP_IT</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_15_A1</name>
        <label>WTP Closed IT</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <actionName>Case.Closed_WTP_IT</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Closed_WTP_LA</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_17_A1</name>
        <label>WTP Closed LA</label>
        <locationX>1700</locationX>
        <locationY>200</locationY>
        <actionName>Case.Closed_WTP_LA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Closed_WTP_LU</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_19_A1</name>
        <label>WTP Closed LU</label>
        <locationX>1900</locationX>
        <locationY>200</locationY>
        <actionName>Case.Closed_WTP_LU</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>WorkTogether_RFP_Closed</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Notify Requester, Creator and RFP Team</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Case.WorkTogether_RFP_Closed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Closed_WTP_NL</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_21_A1</name>
        <label>WTP Closed NL</label>
        <locationX>2100</locationX>
        <locationY>200</locationY>
        <actionName>Case.Closed_WTP_NL</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Closed_WTP_NO</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_23_A1</name>
        <label>WTP Closed NO</label>
        <locationX>2300</locationX>
        <locationY>200</locationY>
        <actionName>Case.Closed_WTP_NO</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Closed_WTP_ES</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_25_A1</name>
        <label>WTP Closed ES</label>
        <locationX>2500</locationX>
        <locationY>200</locationY>
        <actionName>Case.Closed_WTP_ES</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Closed_WTP_CH</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_27_A1</name>
        <label>WTP Closed CH</label>
        <locationX>2700</locationX>
        <locationY>200</locationY>
        <actionName>Case.Closed_WTP_CH</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Closed_WTP_UK</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_29_A1</name>
        <label>WTP Closed UK</label>
        <locationX>2900</locationX>
        <locationY>200</locationY>
        <actionName>Case.Closed_WTP_UK</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Closed_WTP_IN</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_31_A1</name>
        <label>WTP Closed JP</label>
        <locationX>3100</locationX>
        <locationY>200</locationY>
        <actionName>Case.Closed_WTP_IN</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Closed_WTP_IN</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_33_A1</name>
        <label>WTP Closed TW</label>
        <locationX>3300</locationX>
        <locationY>200</locationY>
        <actionName>Case.Closed_WTP_IN</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>WorkTogether_Product_Closed</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Notify requester, creator and product</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Case.WorkTogether_Product_Closed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_3_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>WorkTogether_MI_Closed</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Notify Requester, creator and MI Team</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Case.WorkTogether_MI_Closed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Closed_WTP</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>WTP Closed FR</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>Case.Closed_WTP</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Closed_WTP_BE</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>WTP Closed BE</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>Case.Closed_WTP_BE</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>RFP/DDQ</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>DD DA</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>DD IN</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision14</name>
        <label>myDecision14</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>DD IT</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision16</name>
        <label>myDecision16</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_17</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_A1</targetReference>
            </connector>
            <label>DD LA</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision18</name>
        <label>myDecision18</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision20</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_19</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_A1</targetReference>
            </connector>
            <label>DD LU</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Product</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision20</name>
        <label>myDecision20</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision22</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_21</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_21_A1</targetReference>
            </connector>
            <label>DD NL</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>11.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision22</name>
        <label>myDecision22</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision24</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_23</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_23</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_23_A1</targetReference>
            </connector>
            <label>DD NO</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision24</name>
        <label>myDecision24</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision26</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_25</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_25_A1</targetReference>
            </connector>
            <label>DD ES</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>13.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision26</name>
        <label>myDecision26</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision28</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_27</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_27</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_27_A1</targetReference>
            </connector>
            <label>DD CH</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>14.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision28</name>
        <label>myDecision28</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision30</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_29</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_29</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_29_A1</targetReference>
            </connector>
            <label>DD UK</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision30</name>
        <label>myDecision30</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision32</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_31</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_31</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_31_A1</targetReference>
            </connector>
            <label>DD JP</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>16.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision32</name>
        <label>myDecision32</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_33</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_33</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_33_A1</targetReference>
            </connector>
            <label>DD TW</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>MKT Intelligence</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>DD FR</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>DD BE</label>
        </rules>
    </decisions>
    <description>Notify participants when the status is changed to closed or completed</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(ISPICKVAL([Case].Status , &quot;Completed&quot;), ISCHANGED([Case].Status), CONTAINS([Case].RecordType.Name, &quot;RFP&quot;), !$User.BypassProcessBuilders__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL({!myVariable_current.Status} , &quot;Completed&quot;), ISCHANGED({!myVariable_current.Status}), CONTAINS({!myVariable_current.RecordType.Name}, &quot;RFP&quot;), !{!$User.BypassProcessBuilders__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(ISPICKVAL([Case].Status , &quot;Closed&quot;), ([Case].RecordType.Name = &quot;Due Diligence Request&quot;), ISCHANGED([Case].Status), ([Case].Company_s_Business_Development_Region__c = &quot;BP_DA&quot;), !$User.BypassProcessBuilders__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL({!myVariable_current.Status} , &quot;Closed&quot;), ({!myVariable_current.RecordType.Name} = &quot;Due Diligence Request&quot;), ISCHANGED({!myVariable_current.Status}), ({!myVariable_current.Company_s_Business_Development_Region__c} = &quot;BP_DA&quot;), !{!$User.BypassProcessBuilders__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(ISPICKVAL([Case].Status , &quot;Closed&quot;), ([Case].RecordType.Name = &quot;Due Diligence Request&quot;), ISCHANGED([Case].Status), ([Case].Company_s_Business_Development_Region__c = &quot;BP_IN&quot;), !$User.BypassProcessBuilders__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL({!myVariable_current.Status} , &quot;Closed&quot;), ({!myVariable_current.RecordType.Name} = &quot;Due Diligence Request&quot;), ISCHANGED({!myVariable_current.Status}), ({!myVariable_current.Company_s_Business_Development_Region__c} = &quot;BP_IN&quot;), !{!$User.BypassProcessBuilders__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(ISPICKVAL([Case].Status , &quot;Closed&quot;), ([Case].RecordType.Name = &quot;Due Diligence Request&quot;), ISCHANGED([Case].Status), ([Case].Company_s_Business_Development_Region__c = &quot;BP_IN&quot;), !$User.BypassProcessBuilders__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL({!myVariable_current.Status} , &quot;Closed&quot;), ({!myVariable_current.RecordType.Name} = &quot;Due Diligence Request&quot;), ISCHANGED({!myVariable_current.Status}), ({!myVariable_current.Company_s_Business_Development_Region__c} = &quot;BP_IN&quot;), !{!$User.BypassProcessBuilders__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(ISPICKVAL([Case].Status , &quot;Closed&quot;), ([Case].RecordType.Name = &quot;Due Diligence Request&quot;), ISCHANGED([Case].Status), ([Case].Company_s_Business_Development_Region__c = &quot;BP_LA&quot;), !$User.BypassProcessBuilders__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_17</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL({!myVariable_current.Status} , &quot;Closed&quot;), ({!myVariable_current.RecordType.Name} = &quot;Due Diligence Request&quot;), ISCHANGED({!myVariable_current.Status}), ({!myVariable_current.Company_s_Business_Development_Region__c} = &quot;BP_LA&quot;), !{!$User.BypassProcessBuilders__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(ISPICKVAL([Case].Status , &quot;Closed&quot;), ([Case].RecordType.Name = &quot;Due Diligence Request&quot;), ISCHANGED([Case].Status), ([Case].Company_s_Business_Development_Region__c = &quot;BP_LU&quot;), !$User.BypassProcessBuilders__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_19</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL({!myVariable_current.Status} , &quot;Closed&quot;), ({!myVariable_current.RecordType.Name} = &quot;Due Diligence Request&quot;), ISCHANGED({!myVariable_current.Status}), ({!myVariable_current.Company_s_Business_Development_Region__c} = &quot;BP_LU&quot;), !{!$User.BypassProcessBuilders__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(ISPICKVAL([Case].Status , &quot;Closed&quot;), ([Case].RecordType.Name = &quot;Due Diligence Request&quot;), ISCHANGED([Case].Status), ([Case].Company_s_Business_Development_Region__c = &quot;BP_NL&quot;), !$User.BypassProcessBuilders__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_21</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL({!myVariable_current.Status} , &quot;Closed&quot;), ({!myVariable_current.RecordType.Name} = &quot;Due Diligence Request&quot;), ISCHANGED({!myVariable_current.Status}), ({!myVariable_current.Company_s_Business_Development_Region__c} = &quot;BP_NL&quot;), !{!$User.BypassProcessBuilders__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(ISPICKVAL([Case].Status , &quot;Closed&quot;), ([Case].RecordType.Name = &quot;Due Diligence Request&quot;), ISCHANGED([Case].Status), ([Case].Company_s_Business_Development_Region__c = &quot;BP_NO&quot;), !$User.BypassProcessBuilders__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_23</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL({!myVariable_current.Status} , &quot;Closed&quot;), ({!myVariable_current.RecordType.Name} = &quot;Due Diligence Request&quot;), ISCHANGED({!myVariable_current.Status}), ({!myVariable_current.Company_s_Business_Development_Region__c} = &quot;BP_NO&quot;), !{!$User.BypassProcessBuilders__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(ISPICKVAL([Case].Status , &quot;Closed&quot;), ([Case].RecordType.Name = &quot;Due Diligence Request&quot;), ISCHANGED([Case].Status), ([Case].Company_s_Business_Development_Region__c = &quot;BP_ES&quot;), !$User.BypassProcessBuilders__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_25</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL({!myVariable_current.Status} , &quot;Closed&quot;), ({!myVariable_current.RecordType.Name} = &quot;Due Diligence Request&quot;), ISCHANGED({!myVariable_current.Status}), ({!myVariable_current.Company_s_Business_Development_Region__c} = &quot;BP_ES&quot;), !{!$User.BypassProcessBuilders__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(ISPICKVAL([Case].Status , &quot;Closed&quot;), ([Case].RecordType.Name = &quot;Due Diligence Request&quot;), ISCHANGED([Case].Status), ([Case].Company_s_Business_Development_Region__c = &quot;BP_CH&quot;), !$User.BypassProcessBuilders__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_27</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL({!myVariable_current.Status} , &quot;Closed&quot;), ({!myVariable_current.RecordType.Name} = &quot;Due Diligence Request&quot;), ISCHANGED({!myVariable_current.Status}), ({!myVariable_current.Company_s_Business_Development_Region__c} = &quot;BP_CH&quot;), !{!$User.BypassProcessBuilders__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(ISPICKVAL([Case].Status , &quot;Closed&quot;), ([Case].RecordType.Name = &quot;Due Diligence Request&quot;), ISCHANGED([Case].Status), ([Case].Company_s_Business_Development_Region__c = &quot;BP_UK&quot;), !$User.BypassProcessBuilders__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_29</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL({!myVariable_current.Status} , &quot;Closed&quot;), ({!myVariable_current.RecordType.Name} = &quot;Due Diligence Request&quot;), ISCHANGED({!myVariable_current.Status}), ({!myVariable_current.Company_s_Business_Development_Region__c} = &quot;BP_UK&quot;), !{!$User.BypassProcessBuilders__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(CONTAINS([Case].RecordType.Name, &quot;Product&quot;), ISCHANGED([Case].Status), OR(ISPICKVAL([Case].Status , &quot;Completed&quot;), ISPICKVAL([Case].Status , &quot;Awaiting Client&apos;s Feedback&quot;)), !$User.BypassProcessBuilders__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(CONTAINS({!myVariable_current.RecordType.Name}, &quot;Product&quot;), ISCHANGED({!myVariable_current.Status}), OR(ISPICKVAL({!myVariable_current.Status} , &quot;Completed&quot;), ISPICKVAL({!myVariable_current.Status} , &quot;Awaiting Client&apos;s Feedback&quot;)), !{!$User.BypassProcessBuilders__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(ISPICKVAL([Case].Status , &quot;Closed&quot;), ([Case].RecordType.Name = &quot;Due Diligence Request&quot;), ISCHANGED([Case].Status), ([Case].Company_s_Business_Development_Region__c = &quot;BP_JP&quot;), !$User.BypassProcessBuilders__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_31</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL({!myVariable_current.Status} , &quot;Closed&quot;), ({!myVariable_current.RecordType.Name} = &quot;Due Diligence Request&quot;), ISCHANGED({!myVariable_current.Status}), ({!myVariable_current.Company_s_Business_Development_Region__c} = &quot;BP_JP&quot;), !{!$User.BypassProcessBuilders__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(ISPICKVAL([Case].Status , &quot;Closed&quot;), ([Case].RecordType.Name = &quot;Due Diligence Request&quot;), ISCHANGED([Case].Status), ([Case].Company_s_Business_Development_Region__c = &quot;BP_TW&quot;), !$User.BypassProcessBuilders__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_33</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL({!myVariable_current.Status} , &quot;Closed&quot;), ({!myVariable_current.RecordType.Name} = &quot;Due Diligence Request&quot;), ISCHANGED({!myVariable_current.Status}), ({!myVariable_current.Company_s_Business_Development_Region__c} = &quot;BP_TW&quot;), !{!$User.BypassProcessBuilders__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(ISPICKVAL([Case].Status , &quot;Closed&quot;), [Case].RecordType.DeveloperName = &quot;RFP&quot;, !$User.BypassProcessBuilders__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL({!myVariable_current.Status} , &quot;Closed&quot;), {!myVariable_current.RecordType.DeveloperName} = &quot;RFP&quot;, !{!$User.BypassProcessBuilders__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(ISPICKVAL([Case].Status , &quot;Closed&quot;), ([Case].RecordType.Name = &quot;Due Diligence Request&quot;), ISCHANGED([Case].Status), ([Case].Company_s_Business_Development_Region__c = &quot;BP_FR&quot;), !$User.BypassProcessBuilders__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL({!myVariable_current.Status} , &quot;Closed&quot;), ({!myVariable_current.RecordType.Name} = &quot;Due Diligence Request&quot;), ISCHANGED({!myVariable_current.Status}), ({!myVariable_current.Company_s_Business_Development_Region__c} = &quot;BP_FR&quot;), !{!$User.BypassProcessBuilders__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(ISPICKVAL([Case].Status , &quot;Closed&quot;), ([Case].RecordType.Name = &quot;Due Diligence Request&quot;), ISCHANGED([Case].Status), ([Case].Company_s_Business_Development_Region__c = &quot;BP_BE&quot;), !$User.BypassProcessBuilders__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL({!myVariable_current.Status} , &quot;Closed&quot;), ({!myVariable_current.RecordType.Name} = &quot;Due Diligence Request&quot;), ISCHANGED({!myVariable_current.Status}), ({!myVariable_current.Company_s_Business_Development_Region__c} = &quot;BP_BE&quot;), !{!$User.BypassProcessBuilders__c})</expression>
    </formulas>
    <interviewLabel>WorkTogether_PB010_CaseClosed-17_InterviewLabel</interviewLabel>
    <label>WorkTogether_PB010_Closed</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case].Tasks</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A2</name>
        <label>Update record tasks</label>
        <locationX>300</locationX>
        <locationY>300</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Done</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
